# Importando módulos

In [1]:
import obspy
from obspy.taup import TauPyModel

from multiprocessing import Pool
from obspy import read,UTCDateTime,Trace
from obspy.clients.fdsn import Client
import os
import glob
import numpy as np
from collections import defaultdict
import pandas as pd

#para plotar as figuras
import matplotlib.pyplot as plt
from matplotlib.transforms import offset_copy
import matplotlib.ticker as ticker
from mpl_toolkits.axes_grid1 import make_axes_locatable
from matplotlib.colors import ListedColormap
import matplotlib.dates as mdates
from mpl_toolkits.axes_grid1.inset_locator import InsetPosition,inset_axes
import matplotlib.colors as colors
import matplotlib.cm as cm
from matplotlib.dates import YearLocator, MonthLocator, DayLocator, HourLocator, MinuteLocator, SecondLocator, DateFormatter
from matplotlib.ticker import MultipleLocator, FormatStrFormatter

from datetime import datetime,timedelta,date
from tqdm import tqdm

from shapely.geometry.polygon import LinearRing

import cartopy.io.shapereader as shpreader
import cartopy.crs as ccrs
import cartopy.feature as cfeature

# Inputs e Outputs

In [2]:
FOLDER_OUTPUT = '/home/diogoloc/dados_posdoc/glider_ON_petrobras/OUTPUT/'

EVENT_FOLDER = '/home/diogoloc/dados_posdoc/glider_ON_petrobras/events_selected/'

MSEED_INPUT = "/home/diogoloc/dados_posdoc/glider_ON_petrobras/data/"

METADATA_OUTPUT = "/home/diogoloc/dados_posdoc/glider_ON_petrobras/metadata/"

# Extraindo informações dos arquivos ".mseed"

In [3]:
filenames_MSEED = sorted(glob.glob(MSEED_INPUT+'*/*/*.mseed'))

In [4]:
def mseed_data_2_dataframe(i):
    subdir, filename_wav = os.path.split(i)
    filename = filename_wav.split('.mseed')[0]
    if 'pa' in filename.split('_')[0]:
        mergulho = filename.split('_')[0].split('a')[1]
        stream_number = filename.split('_')[1]

        year_month_day = filename.split('_')[2]
        hour_minute_second = filename.split('_')[3]

        year = int('20'+year_month_day[:2])
        month = int(year_month_day[2:4])
        day = int(year_month_day[4:])

        hour = int(hour_minute_second[:2])
        minute = int(hour_minute_second[2:4])
        second = int(hour_minute_second[4:])

        d = UTCDateTime(datetime(year,month,day,hour,minute,second).isoformat())


    if 'pa' in filename.split('_')[2]:

        mergulho = filename.split('_')[2].split('a')[1]
        stream_number = filename.split('_')[3]

        year_month_day = filename.split('_')[0]
        hour_minute_second = filename.split('_')[1]

        year = int('20'+year_month_day[:2])
        month = int(year_month_day[2:4])
        day = int(year_month_day[4:])

        hour = int(hour_minute_second[:2])
        minute = int(hour_minute_second[2:4])
        second = int(hour_minute_second[4:])

        d = UTCDateTime(datetime(year,month,day,hour,minute,second).isoformat())
        
    
    st = read(i,headonly=True)   
    #----------------------------
    #Starting Dataframe

    starttime = st[0].stats.starttime.datetime
    endtime = st[0].stats.endtime.datetime
    sampling_rate = st[0].stats.sampling_rate
    npts = st[0].stats.npts

    
    df = pd.DataFrame([[filename],[mergulho],[stream_number],[starttime],[endtime],[sampling_rate],[npts]], index=['filename_mseed', 'mergulho', 'stream_number','starttime','endtime','sampling_rate','npts']).T
    
    #Ending Dataframe
    #----------------------------
    return df

In [5]:
pandas_mseed_lst = []

with Pool(processes=8) as p:
    max_ = len(filenames_MSEED)
    with tqdm(total=max_) as pbar:
        for result in p.imap_unordered(mseed_data_2_dataframe,filenames_MSEED):
            pbar.update()
            pandas_mseed_lst.append(result)

100%|███████████████████████████████████| 10093/10093 [00:06<00:00, 1619.33it/s]

In [6]:
dataframe_mseed_final = pd.concat(pandas_mseed_lst, ignore_index=True)

In [7]:
dataframe_mseed_final.sort_values(by='starttime')

,filename_mseed,mergulho,stream_number,starttime,endtime,sampling_rate,npts
0,pa0001au_001_190210_140934,0001,001,2019-02-10 14:09:34,2019-02-10 14:19:33.990,100.0,60000
24,pa0001au_002_190210_141934,0001,002,2019-02-10 14:19:34,2019-02-10 14:29:33.990,100.0,60000
20,pa0001au_003_190210_142934,0001,003,2019-02-10 14:29:34,2019-02-10 14:39:33.990,100.0,60000
4,pa0001au_004_190210_143934,0001,004,2019-02-10 14:39:34,2019-02-10 14:49:33.990,100.0,60000
9,pa0001au_005_190210_144934,0001,005,2019-02-10 14:49:34,2019-02-10 14:59:33.990,100.0,60000
...,...,...,...,...,...,...,...
10088,pa0238au_013_191010_211037,0238,013,2019-10-10 21:10:37,2019-10-10 21:20:36.990,100.0,60000
10091,pa0238au_014_191010_212037,0238,014,2019-10-10 21:20:37,2019-10-10 21:30:36.990,100.0,60000
10092,pa0238au_015_191010_213037,0238,015,2019-10-10 21:30:37,2019-10-10 21:40:36.990,100.0,60000
10089,pa0238au_016_191010_214037,0238,016,2019-10-10 21:40:37,2019-10-10 21:50:36.990,100.0,60000
10090,pa0238au_017_191010_215037,0238,017,2019-10-10 21:50:37,2019-10-10 21:59:05.130,100.0,50814

# Extraindo informações dos arquivos ".csv"

In [8]:
filename_csv = '/home/diogoloc/dados_posdoc/glider_ON_petrobras/info_csv/metadados_glider_acustico_pmpas-bs.csv'

In [9]:
dataframe_csv = pd.read_csv(filename_csv,parse_dates=['time'])
dataframe_csv.sort_values(by='time')

,time,filename,latitude,longitude,depth
0,2015-11-12 13:48:40.999995,pa0001au_001_151112_134841_rms_spl3.mat,-23.825157,-42.495483,1.314286
1,2015-11-12 13:49:41.000001,pa0001au_001_151112_134841_rms_spl3.mat,-23.824950,-42.495487,7.415555
2,2015-11-12 13:50:40.999998,pa0001au_002_151112_135041_rms_spl3.mat,-23.824745,-42.495490,15.776000
3,2015-11-12 13:51:41.000004,pa0001au_002_151112_135041_rms_spl3.mat,-23.824540,-42.495495,24.372000
4,2015-11-12 13:52:41.000001,pa0001au_003_151112_135241_rms_spl3.mat,-23.824331,-42.495500,32.912000
...,...,...,...,...,...
547748,2021-11-04 06:52:38.000000,pa0296au_011_211104_064338_rms_spl3.mat,-24.461742,-42.471264,866.012900
547749,2021-11-04 06:53:37.999997,pa0296au_012_211104_065338_rms_spl3.mat,-24.461819,-42.471302,873.586100
547750,2021-11-04 06:54:38.000003,pa0296au_012_211104_065338_rms_spl3.mat,-24.461980,-42.471510,879.579600
547751,2021-11-04 06:55:38.000000,pa0296au_012_211104_065338_rms_spl3.mat,-24.462152,-42.471740,884.380700
547752,2021-11-04 06:56:37.999996,pa0296au_012_211104_065338_rms_spl3.mat,-24.462324,-42.471966,888.467200

In [10]:
df_csv = dataframe_csv.groupby("filename").agg(pd.Series.tolist)

In [11]:
df_csv

,time,latitude,longitude,depth
filename,,,,
160708_172008_pa0003au_001_rms_spl3.mat,"[2016-07-08 17:20:07.999999, 2016-07-08 17:21:...","[-24.391026, -24.391314, -24.391335]","[-43.821663, -43.82173, -43.82174]","[0.9987981, 9.891874, 10.969999]"
160708_172307_pa0003au_002_rms_spl3.mat,"[2016-07-08 17:23:07.000004, 2016-07-08 17:24:...","[-24.391356, -24.3916, -24.391617]","[-43.821743, -43.8218, -43.821804]","[12.030156, 23.590548, 24.420235]"
160708_172607_pa0003au_003_rms_spl3.mat,"[2016-07-08 17:26:07.000003, 2016-07-08 17:27:...","[-24.391909, -24.39193, -24.392172]","[-43.821873, -43.82188, -43.821938]","[36.456642, 37.333202, 47.245785]"
160708_172906_pa0003au_004_rms_spl3.mat,"[2016-07-08 17:29:05.999998, 2016-07-08 17:30:...","[-24.392193, -24.392475, -24.392496]","[-43.82194, -43.822006, -43.82201]","[48.01094, 58.52969, 59.289062]"
160708_173205_pa0003au_005_rms_spl3.mat,"[2016-07-08 17:32:05.000003, 2016-07-08 17:33:...","[-24.392744, -24.392765, -24.393057]","[-43.822067, -43.822075, -43.822144]","[68.57156, 69.49031, 80.89149]"
...,...,...,...,...
pa0626au_041_160418_075202_rms_spl3.mat,"[2016-04-18 07:52:02.000001, 2016-04-18 07:53:...","[-24.46632, -24.466305]","[-43.148865, -43.14886]","[897.4117, 899.9383]"
pa0626au_042_160418_075402_rms_spl3.mat,"[2016-04-18 07:54:02.000004, 2016-04-18 07:55:02]","[-24.466183, -24.466167]","[-43.14885, -43.148846]","[918.85736, 921.4589]"
pa0626au_043_160418_075602_rms_spl3.mat,"[2016-04-18 07:56:01.999997, 2016-04-18 07:57:...","[-24.466047, -24.466032]","[-43.148834, -43.14883]","[940.0661, 942.0864]"
pa0626au_044_160418_075802_rms_spl3.mat,"[2016-04-18 07:58:02, 2016-04-18 07:59:01.999996]","[-24.465881, -24.465864]","[-43.148815, -43.14881]","[958.9343, 959.4406]"
pa0626au_045_160418_080002_rms_spl3.mat,"[2016-04-18 08:00:02.000003, 2016-04-18 08:01:...","[-24.465744, -24.465727]","[-43.1488, -43.1488]","[963.1847, 963.6253]"

In [12]:
df_csv['filename_mseed'] = df_csv.index.str.replace('_rms_spl3.mat', '')

/tmp/ipykernel_6425/1878750020.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_csv['filename_mseed'] = df_csv.index.str.replace('_rms_spl3.mat', '')

In [13]:
df_csv.sort_values(by='time')

,time,latitude,longitude,depth,filename_mseed
filename,,,,,
pa0001au_001_151112_134841_rms_spl3.mat,"[2015-11-12 13:48:40.999995, 2015-11-12 13:49:...","[-23.825157, -23.82495]","[-42.495483, -42.495487]","[1.3142858, 7.4155555]",pa0001au_001_151112_134841
pa0001au_002_151112_135041_rms_spl3.mat,"[2015-11-12 13:50:40.999998, 2015-11-12 13:51:...","[-23.824745, -23.82454]","[-42.49549, -42.495495]","[15.776, 24.372]",pa0001au_002_151112_135041
pa0001au_003_151112_135241_rms_spl3.mat,"[2015-11-12 13:52:41.000001, 2015-11-12 13:53:...","[-23.824331, -23.824125]","[-42.4955, -42.495502]","[32.912, 41.34]",pa0001au_003_151112_135241
pa0001au_004_151112_135441_rms_spl3.mat,"[2015-11-12 13:54:41.000004, 2015-11-12 13:55:41]","[-23.82392, -23.823713]","[-42.495506, -42.495506]","[48.91, 52.824]",pa0001au_004_151112_135441
pa0002au_001_151112_143618_rms_spl3.mat,"[2015-11-12 14:36:17.999998, 2015-11-12 14:37:...","[-23.817575, -23.81744]","[-42.49506, -42.494965]","[1.4671428, 9.36]",pa0002au_001_151112_143618
...,...,...,...,...,...
pa0296au_008_211104_061338_rms_spl3.mat,"[2021-11-04 06:13:37.999999, 2021-11-04 06:14:...","[-24.457632, -24.457657, -24.457726, -24.45786...","[-42.470257, -42.470303, -42.470325, -42.47033...","[550.4096, 559.3073, 567.8462, 575.10706, 582....",pa0296au_008_211104_061338
pa0296au_009_211104_062338_rms_spl3.mat,"[2021-11-04 06:23:38.000003, 2021-11-04 06:24:...","[-24.458628, -24.458672, -24.45872, -24.458822...","[-42.47047, -42.470528, -42.470562, -42.470573...","[629.96436, 637.68353, 646.56323, 654.6224, 66...",pa0296au_009_211104_062338
pa0296au_010_211104_063338_rms_spl3.mat,"[2021-11-04 06:33:37.999998, 2021-11-04 06:34:...","[-24.459415, -24.459513, -24.45957, -24.45963,...","[-42.4708, -42.470802, -42.470856, -42.4709, -...","[706.7263, 715.5506, 722.5956, 730.11316, 737....",pa0296au_010_211104_063338
pa0296au_011_211104_064338_rms_spl3.mat,"[2021-11-04 06:43:38.000002, 2021-11-04 06:44:...","[-24.46027, -24.460333, -24.460466, -24.460562...","[-42.471066, -42.471092, -42.471092, -42.47112...","[786.4262, 795.43823, 804.53156, 811.73206, 82...",pa0296au_011_211104_064338
pa0296au_012_211104_065338_rms_spl3.mat,"[2021-11-04 06:53:37.999997, 2021-11-04 06:54:...","[-24.461819, -24.46198, -24.462152, -24.462324]","[-42.471302, -42.47151, -42.47174, -42.471966]","[873.5861, 879.5796, 884.3807, 888.4672]",pa0296au_012_211104_065338

# Aglutinando os dataframes:

In [14]:
merged_df_csv_mseed = df_csv.merge(dataframe_mseed_final, on='filename_mseed')

In [15]:
merged_df_csv_mseed.sort_values(by='starttime')

,time,latitude,longitude,depth,filename_mseed,mergulho,stream_number,starttime,endtime,sampling_rate,npts
0,"[2019-02-10 14:09:33.999998, 2019-02-10 14:10:...","[-24.446863, -24.44698, -24.4471, -24.447107, ...","[-42.37369, -42.373936, -42.37419, -42.374313,...","[1.100106, 1.3757317, 4.2127805, 11.835875, 17...",pa0001au_001_190210_140934,0001,001,2019-02-10 14:09:34,2019-02-10 14:19:33.990,100.0,60000
1,"[2019-02-10 14:19:34.000002, 2019-02-10 14:20:...","[-24.446705, -24.446661, -24.44662, -24.446585...","[-42.376213, -42.376427, -42.376637, -42.37684...","[53.095825, 58.468796, 63.91838, 69.02441, 73....",pa0001au_002_190210_141934,0001,002,2019-02-10 14:19:34,2019-02-10 14:29:33.990,100.0,60000
2,"[2019-02-10 14:29:33.999997, 2019-02-10 14:30:...","[-24.44634, -24.446304, -24.446268, -24.446236...","[-42.378624, -42.37893, -42.3792, -42.379448, ...","[100.04637, 104.443794, 109.028496, 113.73068,...",pa0001au_003_190210_142934,0001,003,2019-02-10 14:29:34,2019-02-10 14:39:33.990,100.0,60000
3,"[2019-02-10 14:39:34.000001, 2019-02-10 14:40:...","[-24.446028, -24.44601, -24.445984, -24.445984...","[-42.38127, -42.381603, -42.381893, -42.38208,...","[147.0188, 151.68568, 156.39667, 160.77971, 16...",pa0001au_004_190210_143934,0001,004,2019-02-10 14:39:34,2019-02-10 14:49:33.990,100.0,60000
4,"[2019-02-10 14:49:33.999996, 2019-02-10 14:50:...","[-24.445845, -24.445818, -24.445793, -24.44576...","[-42.383965, -42.38423, -42.384487, -42.384743...","[190.9082, 195.09427, 199.34274, 203.43884, 20...",pa0001au_005_190210_144934,0001,005,2019-02-10 14:49:34,2019-02-10 14:59:33.990,100.0,60000
...,...,...,...,...,...,...,...,...,...,...,...
6902,"[2019-10-10 21:10:37.000005, 2019-10-10 21:11:...","[-24.700645, -24.700645, -24.700645, -24.70064...","[-41.329514, -41.329514, -41.329514, -41.32951...","[810.5255, 810.5255, 810.5255, 810.5255, 810.5...",pa0238au_013_191010_211037,0238,013,2019-10-10 21:10:37,2019-10-10 21:20:36.990,100.0,60000
6903,"[2019-10-10 21:20:36.999999, 2019-10-10 21:21:...","[-24.700645, -24.700645, -24.700645, -24.70064...","[-41.329514, -41.329514, -41.329514, -41.32951...","[810.5255, 810.5255, 810.5255, 810.5255, 810.5...",pa0238au_014_191010_212037,0238,014,2019-10-10 21:20:37,2019-10-10 21:30:36.990,100.0,60000
6904,"[2019-10-10 21:30:37.000004, 2019-10-10 21:31:...","[-24.700645, -24.700645, -24.700645, -24.70064...","[-41.329514, -41.329514, -41.329514, -41.32951...","[810.5255, 810.5255, 810.5255, 810.5255, 810.5...",pa0238au_015_191010_213037,0238,015,2019-10-10 21:30:37,2019-10-10 21:40:36.990,100.0,60000
6905,"[2019-10-10 21:40:36.999998, 2019-10-10 21:41:...","[-24.700645, -24.700645, -24.700645, -24.70064...","[-41.329514, -41.329514, -41.329514, -41.32951...","[810.5255, 810.5255, 810.5255, 810.5255, 810.5...",pa0238au_016_191010_214037,0238,016,2019-10-10 21:40:37,2019-10-10 21:50:36.990,100.0,60000
6906,"[2019-10-10 21:50:37.000003, 2019-10-10 21:51:...","[-24.700645, -24.700645, -24.700645, -24.70064...","[-41.329514, -41.329514, -41.329514, -41.32951...","[810.5255, 810.5255, 810.5255, 810.5255, 810.5...",pa0238au_017_191010_215037,0238,017,2019-10-10 21:50:37,2019-10-10 21:59:05.130,100.0,50814

In [16]:
# Definir uma função para converter a lista de tempos em timestamps
def converter_para_timestamp(tempos):
    return [pd.to_datetime(tempo).timestamp() for tempo in tempos]

In [17]:
merged_df_csv_mseed['time_timestamp'] = merged_df_csv_mseed['time'].apply(lambda x: converter_para_timestamp(x))

In [18]:
merged_df_csv_mseed

,time,latitude,longitude,depth,filename_mseed,mergulho,stream_number,starttime,endtime,sampling_rate,npts,time_timestamp
0,"[2019-02-10 14:09:33.999998, 2019-02-10 14:10:...","[-24.446863, -24.44698, -24.4471, -24.447107, ...","[-42.37369, -42.373936, -42.37419, -42.374313,...","[1.100106, 1.3757317, 4.2127805, 11.835875, 17...",pa0001au_001_190210_140934,0001,001,2019-02-10 14:09:34,2019-02-10 14:19:33.990,100.0,60000,"[1549807773.999998, 1549807834.000004, 1549807..."
1,"[2019-02-10 14:19:34.000002, 2019-02-10 14:20:...","[-24.446705, -24.446661, -24.44662, -24.446585...","[-42.376213, -42.376427, -42.376637, -42.37684...","[53.095825, 58.468796, 63.91838, 69.02441, 73....",pa0001au_002_190210_141934,0001,002,2019-02-10 14:19:34,2019-02-10 14:29:33.990,100.0,60000,"[1549808374.000002, 1549808433.999999, 1549808..."
2,"[2019-02-10 14:29:33.999997, 2019-02-10 14:30:...","[-24.44634, -24.446304, -24.446268, -24.446236...","[-42.378624, -42.37893, -42.3792, -42.379448, ...","[100.04637, 104.443794, 109.028496, 113.73068,...",pa0001au_003_190210_142934,0001,003,2019-02-10 14:29:34,2019-02-10 14:39:33.990,100.0,60000,"[1549808973.999997, 1549809034.000003, 1549809..."
3,"[2019-02-10 14:39:34.000001, 2019-02-10 14:40:...","[-24.446028, -24.44601, -24.445984, -24.445984...","[-42.38127, -42.381603, -42.381893, -42.38208,...","[147.0188, 151.68568, 156.39667, 160.77971, 16...",pa0001au_004_190210_143934,0001,004,2019-02-10 14:39:34,2019-02-10 14:49:33.990,100.0,60000,"[1549809574.000001, 1549809633.999998, 1549809..."
4,"[2019-02-10 14:49:33.999996, 2019-02-10 14:50:...","[-24.445845, -24.445818, -24.445793, -24.44576...","[-42.383965, -42.38423, -42.384487, -42.384743...","[190.9082, 195.09427, 199.34274, 203.43884, 20...",pa0001au_005_190210_144934,0001,005,2019-02-10 14:49:34,2019-02-10 14:59:33.990,100.0,60000,"[1549810173.999996, 1549810234.000002, 1549810..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8847,"[2019-05-01 07:42:51.999997, 2019-05-01 07:43:...","[-26.480818, -26.480764, -26.480757, -26.48075...","[-45.451607, -45.451553, -45.451447, -45.45134...","[432.7796, 442.0454, 451.03748, 459.97116, 468...",pa0489au_006_190501_074252,0489,006,2019-05-01 07:42:52,2019-05-01 07:52:51.990,100.0,60000,"[1556696571.999997, 1556696632.000003, 1556696..."
8848,"[2019-05-01 07:52:52.000001, 2019-05-01 07:53:...","[-26.480371, -26.480392, -26.480354, -26.4803,...","[-45.451046, -45.45092, -45.450855, -45.450806...","[522.99854, 531.8356, 540.42163, 549.1145, 557...",pa0489au_007_190501_075252,0489,007,2019-05-01 07:52:52,2019-05-01 08:02:51.990,100.0,60000,"[1556697172.000001, 1556697231.999998, 1556697..."
8849,"[2019-05-01 08:02:51.999996, 2019-05-01 08:03:...","[-26.480185, -26.480198, -26.480215, -26.48016...","[-45.450188, -45.45007, -45.449947, -45.4499, ...","[608.7978, 617.0209, 625.4136, 634.215, 642.91...",pa0489au_008_190501_080252,0489,008,2019-05-01 08:02:52,2019-05-01 08:12:51.990,100.0,60000,"[1556697771.999996, 1556697832.000002, 1556697..."
8850,"[2019-05-01 08:12:52, 2019-05-01 08:13:51.9999...","[-26.479984, -26.47998, -26.479994, -26.480034...","[-45.44935, -45.44924, -45.449127, -45.44899, ...","[695.72845, 704.39856, 713.2655, 721.90985, 73...",pa0489au_009_190501_081252,0489,009,2019-05-01 08:12:52,2019-05-01 08:22:51.990,100.0,60000,"[1556698372.0, 1556698431.999997, 1556698492.0..."
8851,"[2019-05-01 08:22:52.000005, 2019-05-01 08:23:...","[-26.479904, -26.479887, -26.479876, -26.47988...","[-45.448395, -45.44831, -45.448215, -45.448105...","[783.3346, 792.0588, 800.68896, 809.35254, 818...",pa0489au_010_190501_082252,0489,010,2019-05-01 08:22:52,2019-05-01 08:32:51.990,100.0,60000,"[1556698972.000005, 1556699032.000001, 1556699..."

In [19]:
def interp_data(df,nfile):
    
    df = df[df['filename_mseed'] == nfile]
    mseed_nfile = df['filename_mseed'].values[0]
    name_file = sorted(glob.glob(MSEED_INPUT+'*/*/'+mseed_nfile+'*'))[0]
    
    st = read(name_file,headonly=True)  
    starttime = st[0].stats.starttime.timestamp
    endtime = st[0].stats.endtime.timestamp
    sampling_rate = st[0].stats.sampling_rate
    npts = st[0].stats.npts
    times = np.array([i.timestamp for i in st[0].times('utcdatetime')])
    times_datetime = np.array([i.datetime for i in st[0].times('utcdatetime')])

    # Dados de profundidade e tempo
    profundidade_lst = df['depth'].values[0]
    latitude_lst = df['latitude'].values[0]
    longitude_lst = df['longitude'].values[0]
    tempo_numerico_lst = df['time_timestamp'].values[0]
    tempo_interpolado_numerico = times
    
    # Interpolar os dados de profundidade usando numpy.interp
    profundidade_interpolada = np.interp(tempo_interpolado_numerico, tempo_numerico_lst, profundidade_lst)

    # Interpolar os dados de longitude usando numpy.interp
    longitude_interpolada = np.interp(tempo_interpolado_numerico, tempo_numerico_lst, longitude_lst)

    # Interpolar os dados de latitude usando numpy.interp
    latitude_interpolada = np.interp(tempo_interpolado_numerico, tempo_numerico_lst, latitude_lst)

    # Exibir os resultados
    df_interpolado = pd.DataFrame({'Datafile':nfile,'Tempo': times_datetime, 'Profundidade_interp': profundidade_interpolada, 'Longitude_interp': longitude_interpolada, 'Latitude_interp': latitude_interpolada})

    #Criando pasta para salvar os metadados 
    folder_feather_name = METADATA_OUTPUT+st[0].stats.starttime.strftime('%Y')+'/'+st[0].stats.starttime.strftime('%Y-%m-%d')+'/'
    os.makedirs(folder_feather_name,exist_ok=True)
    df_interpolado.to_feather(folder_feather_name+mseed_nfile+'.feather')
    
    return df_interpolado

In [20]:
def start_interpol(namfile):
    df_interpol = interp_data(df=merged_df_csv_mseed,nfile=namfile)
    
    return df_interpol

In [ ]:
pandas_mseed_lst = []

with Pool(processes=16) as p:
    max_ = len(merged_df_csv_mseed['filename_mseed'].values)
    with tqdm(total=max_) as pbar:
        for result in p.imap_unordered(start_interpol,merged_df_csv_mseed['filename_mseed'].values):
            pbar.update()
            pandas_mseed_lst.append(result)

 26%|██████████▏                            | 2318/8852 [05:29<13:48,  7.89it/s]

# Importando metadados:

In [ ]:
filenames_metadata = sorted(glob.glob(METADATA_OUTPUT+'*/*/*.feather'))

In [ ]:
for nfile_meta in tqdm(filenames_metadata,total=len(filenames_metadata)):

    #########################################################################################################################################################
    #STREAM
    file_n_meta = nfile_meta.split('/')[-1].split('.feather')[0]
    
    name_file = sorted(glob.glob(MSEED_INPUT+'*/*/'+file_n_meta+'*'))[0]
    
    st = read(name_file,headonly=False)  
    starttime = st[0].stats.starttime
    endtime = st[0].stats.endtime
    sampling_rate = st[0].stats.sampling_rate
    npts = st[0].stats.npts
    
    df_meta = pd.read_feather(nfile_meta)

    lat_mean_info = df_meta['Latitude_interp'].mean()
    lon_mean_info = df_meta['Longitude_interp'].mean()       
    depth_mean_info = df_meta['Profundidade_interp'].mean()

    lat_std_info = df_meta['Latitude_interp'].std()
    lon_std_info = df_meta['Longitude_interp'].std()       
    depth_std_info = df_meta['Profundidade_interp'].std()
    
    
    if 'pa' in df_meta['Datafile'][0].split('_')[0]:
        mergulho = df_meta['Datafile'][0].split('_')[0].split('a')[1]
        stream_number = df_meta['Datafile'][0].split('_')[1]

    if 'pa' in df_meta['Datafile'][0].split('_')[2]:
        mergulho = df_meta['Datafile'][0].split('_')[2].split('a')[1]
        stream_number = df_meta['Datafile'][0].split('_')[3]

In [ ]:
for nfile_meta in tqdm(filenames_metadata,total=len(filenames_metadata)):

    #########################################################################################################################################################
    #STREAM
    file_n_meta = nfile_meta.split('/')[-1].split('.feather')[0]
    
    name_file = sorted(glob.glob(MSEED_INPUT+'*/*/'+file_n_meta+'*'))[0]
    
    st = read(name_file,headonly=False)  
    starttime = st[0].stats.starttime
    endtime = st[0].stats.endtime
    sampling_rate = st[0].stats.sampling_rate
    npts = st[0].stats.npts
    
    df_meta = pd.read_feather(nfile_meta)

    lat_mean_info = df_meta['Latitude_interp'].mean()
    lon_mean_info = df_meta['Longitude_interp'].mean()       
    depth_mean_info = df_meta['Profundidade_interp'].mean()

    lat_std_info = df_meta['Latitude_interp'].std()
    lon_std_info = df_meta['Longitude_interp'].std()       
    depth_std_info = df_meta['Profundidade_interp'].std()
    
    
    if 'pa' in df_meta['Datafile'][0].split('_')[0]:
        mergulho = df_meta['Datafile'][0].split('_')[0].split('a')[1]
        stream_number = df_meta['Datafile'][0].split('_')[1]

    if 'pa' in df_meta['Datafile'][0].split('_')[2]:
        mergulho = df_meta['Datafile'][0].split('_')[2].split('a')[1]
        stream_number = df_meta['Datafile'][0].split('_')[3]
                        
    #########################################################################################################################################################
    #Figure 

    # set up the plot and create a GeoAxes:
    proj = ccrs.PlateCarree()

    fig, (ax,ax1) = plt.subplots(2,1,figsize=(16,16))
    ax = plt.subplot(2, 1, 1, projection=proj)
                     
    # ----------------------------------------------------------------------------------------------------------
    # Limit the extent of the map to a small longitude/latitude range.
    latmin=-27
    latmax=-22
    lonmin=-50
    lonmax=-40

    ax.set_extent([lonmin,lonmax, latmin, latmax], crs=ccrs.Geodetic())

    # ----------------------------------------------------------------------------------------------------------
    # Ploting lat/lon values
                
    h = ax.scatter(df_meta['Longitude_interp'].values,df_meta['Latitude_interp'].values,c=np.array([mdates.date2num(i) for i in df_meta['Tempo'].dt.to_pydatetime()]),marker='o',alpha=0.8,cmap='plasma',s=75,transform=proj)
    ax.text(0.85, 0.05,'Lat:'+str(round(lat_mean_info,2))+r'$\pm$'+str(round(lat_std_info,4)), horizontalalignment='left',verticalalignment='center', transform=ax.transAxes)
    ax.text(0.85, 0.1,'Lon:'+str(round(lon_mean_info,2))+r'$\pm$'+str(round(lon_std_info,4)), horizontalalignment='left',verticalalignment='center', transform=ax.transAxes)
    ax.text(0.85, 0.15,'Prof:'+str(round(depth_mean_info,2))+r'$\pm$'+str(round(depth_std_info,4)), horizontalalignment='left',verticalalignment='center', transform=ax.transAxes)
    # ----------------------------------------------------------------------------------------------------------
    # Adding background map 
    ax.add_feature(cfeature.LAND)
    ax.add_feature(cfeature.OCEAN)
    ax.add_feature(cfeature.COASTLINE,linewidth=0.3)
    ax.add_feature(cfeature.BORDERS, linestyle=':',linewidth=0.3)
    ax.gridlines(crs=ccrs.PlateCarree(), draw_labels=True,linewidth=1, color='gray', alpha=0.5, linestyle='--')
    ax.set_title('Dia: '+starttime.strftime('%d-%m-%Y'))
    
    # ----------------------------------------------------------------------------------------------------------
    # Adding colorbar
    divider = make_axes_locatable(ax)
    ax_cb = divider.new_horizontal(size="1%", pad=0.6, axes_class=plt.Axes)

    fig.add_axes(ax_cb)
    cb = plt.colorbar(h, cax=ax_cb)
    cb.ax.yaxis.set_major_formatter(mdates.DateFormatter('%H:%M:%S'))

    #####################################################
    # Adding inset axes RIGHT
    #####################################################

    axins = plt.axes([0.2, 0.55, 0.2, 0.2],projection=proj)

    axins.scatter(df_meta['Longitude_interp'].values,df_meta['Latitude_interp'].values,c=np.array([mdates.date2num(i) for i in df_meta['Tempo'].dt.to_pydatetime()]),marker='o',alpha=0.3,cmap='plasma',s=75,transform=proj)

    axins.add_feature(cfeature.LAND)
    axins.add_feature(cfeature.OCEAN)
    axins.add_feature(cfeature.COASTLINE,linewidth=0.3)
    axins.add_feature(cfeature.BORDERS, linestyle=':',linewidth=0.3)
    
    # ----------------------------------------------------------------------------------------------------------
    # Adding grid 
    axins.gridlines(crs=ccrs.PlateCarree(), draw_labels=["bottom", "left", "right"],linewidth=0.5, color='gray', alpha=0.5, linestyle='--')
    axins.tick_params(axis='both',which="both",bottom=True, top=True, left=True, right=True,labelbottom=True, labeltop=False, labelleft=True, labelright=True)

    # subregion of the original image
    x1 = np.min(lon_mean_info)-abs(np.min(lon_mean_info)/1000)
    x2 = np.max(lon_mean_info)+abs(np.max(lon_mean_info)/1000)
    y1 = np.min(lat_mean_info)-abs(np.min(lat_mean_info)/1000)
    y2 = np.max(lat_mean_info)+abs(np.max(lat_mean_info)/1000)
    axins.set_xlim(x1, x2)
    axins.set_ylim(y1, y2)

    # ----------------------------------------------------------------------------------------------------------
    # Adding ZOOM
    ax.indicate_inset_zoom(axins, edgecolor="black")

    # ----------------------------------------------------------------------------------------------------------
    ax_histx = plt.axes([0.2, 0.73, 0.2, 0.1],sharex=axins,facecolor='lightsteelblue')
    ax_histx.scatter(df_meta['Longitude_interp'].values,df_meta['Profundidade_interp'].values*-1,c=np.array([mdates.date2num(i) for i in df_meta['Tempo'].dt.to_pydatetime()]),marker='o',alpha=0.7,cmap='plasma',s=100)
    ax_histx.grid(linewidth=0.5, color='gray', alpha=0.5, linestyle='--')
    ax_histx.set_title("Mergulho:"+mergulho+"\n stream:"+stream_number)
    ax_histx.tick_params(axis='both',which="both",bottom=True, top=True, left=True, right=True,labelbottom=False, labeltop=False, labelleft=True, labelright=True)
    
    depth_lim_max = (np.min(df_meta['Profundidade_interp'])-abs(np.min(df_meta['Profundidade_interp'])/3000))*-1
    depth_lim_min = (np.max(df_meta['Profundidade_interp'])+abs(np.max(df_meta['Profundidade_interp'])/3000))*-1
    ax_histx.set_ylim(depth_lim_min,depth_lim_max)
    
    
    ax_histx.yaxis.set_major_formatter('{x} m')
    ax_histx.yaxis.set_major_locator(MultipleLocator(10))
    ax_histx.yaxis.set_minor_locator(MultipleLocator(1))
    
    # ----------------------------------------------------------------------------------------------------------
    # Adding global location map
    # inset location relative to main plot (ax) in normalized units
    inset_x = 0
    inset_y = 1
    inset_size = 0.5

    # Adding Geoaxes
    ax2 = plt.axes([0, 0, 1, 1], projection=ccrs.Orthographic(central_latitude=(latmin + latmax)/2,central_longitude=(lonmin + lonmax) / 2))
    ax2.set_global()

    # Adding background map 
    ax2.add_feature(cfeature.LAND)
    ax2.add_feature(cfeature.OCEAN)
    ax2.add_feature(cfeature.COASTLINE)

    # Adding inset geoaxes position
    ip = InsetPosition(ax, [inset_x - inset_size / 2,
                          inset_y - inset_size / 2,
                          inset_size,inset_size])
    
    ax2.set_axes_locator(ip)


    # Adding red rectangle position
    nvert = 100
    lons = np.r_[np.linspace(lonmin, lonmin, nvert),
                                 np.linspace(lonmin, lonmax, nvert),
                                 np.linspace(lonmax, lonmax, nvert)].tolist()
    
    lats = np.r_[np.linspace(latmin, latmax, nvert),
                                 np.linspace(latmax, latmax, nvert),
                                 np.linspace(latmax, latmin, nvert)].tolist()

    ring = LinearRing(list(zip(lons, lats)))
    ax2.add_geometries([ring], ccrs.PlateCarree(),facecolor='none', edgecolor='red', linewidth=0.75)

    # ----------------------------------------------------------------------------------------------------------
    # Adding stream plot

    ax1.plot(st[0].times('matplotlib'),st[0].data,'-k')        
    ax1.set_ylabel('Amplitude [counts]')
    
    locator = mdates.AutoDateLocator(minticks=9, maxticks=14)
    formatter = mdates.ConciseDateFormatter(locator)
    
    ax1.xaxis.set_major_locator(locator)
    ax1.xaxis.set_major_formatter(formatter)
    
    mins2 = SecondLocator(interval=60)
    mins1 = SecondLocator(interval=10)
    
    ax1.xaxis.set_major_locator(mins2)
    ax1.xaxis.set_minor_locator(mins1)
    ax1.set_title('Arquivo: '+file_n_meta+'.wav')
        
    # ----------------------------------------------------------------------------------------------------------
    # Saving figure
    os.makedirs(FOLDER_OUTPUT+'FIGURAS/INTERP_MSEED/'+st[0].stats.starttime.strftime('%Y')+'/'+st[0].stats.starttime.strftime('%Y-%m-%d')+'/',exist_ok=True)
    fig.savefig(FOLDER_OUTPUT+'FIGURAS/INTERP_MSEED/'+st[0].stats.starttime.strftime('%Y')+'/'+st[0].stats.starttime.strftime('%Y-%m-%d')+'/'+'interp_mseed_'+file_n_meta+'.png')
    plt.close()