# Importando módulos

In [60]:
import obspy
from obspy.taup import TauPyModel

from multiprocessing import Pool
from obspy import read,UTCDateTime,Trace,read_inventory,read_events
from obspy.io.sac.sactrace import SACTrace
from obspy.imaging.beachball import beachball,beach
from obspy.clients.fdsn import Client
from obspy.signal.trigger import recursive_sta_lta

import os
import glob
import numpy as np
from collections import defaultdict
import pandas as pd
from scipy import signal
import subprocess
from sklearn import preprocessing
import geopy.distance


#para plotar as figuras
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib.transforms import offset_copy
import matplotlib.ticker as ticker
from mpl_toolkits.axes_grid1 import make_axes_locatable
from matplotlib.colors import ListedColormap
import matplotlib.dates as mdates
from mpl_toolkits.axes_grid1.inset_locator import inset_axes
import matplotlib.cm as cm
from matplotlib.dates import YearLocator, MonthLocator, DayLocator, HourLocator, MinuteLocator, SecondLocator, DateFormatter
from matplotlib.ticker import MultipleLocator, FormatStrFormatter,FixedLocator,StrMethodFormatter
import matplotlib.patches as mpatches
import matplotlib.colors as mcolors
import matplotlib.gridspec as gridspec

from datetime import datetime,timedelta,date
from tqdm import tqdm

from shapely.geometry.polygon import LinearRing
from matplotlib.patches import Rectangle

import cartopy.io.shapereader as shpreader
import cartopy.crs as ccrs
import cartopy.feature as cfeature
from cartopy.mpl.ticker import LongitudeFormatter,LatitudeFormatter
import requests
import csv
import xml.etree.ElementTree as ET

# Inputs e Outputs

In [61]:
#FOLDER_OUTPUT = '/media/sysop/14f7ead0-5dcb-4557-a139-55dbb404d11a/diogoloc/dados_posdoc/Gliders_DATA/OUTPUT/'
#MSEED_INPUT = "/media/sysop/14f7ead0-5dcb-4557-a139-55dbb404d11a/diogoloc/dados_posdoc/Gliders_DATA/DATA_GLIDER_2024/"
#QUAKEXML_FOLDER = '/media/sysop/14f7ead0-5dcb-4557-a139-55dbb404d11a/diogoloc/dados_posdoc/Gliders_DATA/OUTPUT/EVENTS/'
#METADATA_FILE = '/media/sysop/14f7ead0-5dcb-4557-a139-55dbb404d11a/diogoloc/dados_posdoc/Gliders_DATA/data_glider_information_csv/metadados_glider_acustico_pmpas-bs.csv'
#MODEL_CAKE = '/media/sysop/14f7ead0-5dcb-4557-a139-55dbb404d11a/diogoloc/dados_posdoc/Gliders_DATA/EARTH_MODEL_AREA/model_ak135f_SOFAR.nd'
#RSBR_STATIONS = '/media/sysop/14f7ead0-5dcb-4557-a139-55dbb404d11a/diogoloc/dados_posdoc/Gliders_DATA/STA_COORD/estacoes_RSBR_costa.txt'

FOLDER_OUTPUT = '/home/sysop/dados_posdoc/GLIDER_PETROBRAS/OUTPUT/'
MSEED_INPUT = "/home/sysop/dados_posdoc/GLIDER_PETROBRAS/DATA/"
METADATA_FILE = '/home/sysop/dados_posdoc/GLIDER_PETROBRAS/data_glider_information_csv/metadados_glider_acustico_pmpas-bs.csv'
QUAKEXML_FOLDER = '/home/sysop/dados_posdoc/GLIDER_PETROBRAS/OUTPUT/EVENTS/'
MODEL_CAKE = '/home/sysop/dados_posdoc/GLIDER_PETROBRAS/EARTH_MODEL_AREA/model_ak135_SOFAR.nd'
RSBR_STATIONS = '/home/sysop/dados_posdoc/GLIDER_PETROBRAS/STA_COORD/estacoes_RSBR_costa.txt'

# Extraindo informações dos arquivos ".mseed"

In [62]:
filenames_MSEED = sorted(glob.glob(MSEED_INPUT+'*/*/*/*/*'))

In [63]:
len(filenames_MSEED)

14780

In [64]:
def mseed_data_2_dataframe(i):
    subdir, filename_wav = os.path.split(i)
    filename = filename_wav.split('.mseed')[0]

    st = read(i,headonly=True)   
    #----------------------------
    #Starting Dataframe

    starttime = st[0].stats.starttime.datetime
    endtime = st[-1].stats.endtime.datetime
    
    df = pd.DataFrame([[filename],[starttime],[endtime]], index=['filename','starttime','endtime']).T
    
    #Ending Dataframe
    #----------------------------
    return df

In [65]:
pandas_mseed_lst = []

with Pool(processes=20) as p:
    max_ = len(filenames_MSEED)
    with tqdm(total=max_) as pbar:
        for result in p.imap_unordered(mseed_data_2_dataframe,filenames_MSEED):
            pbar.update()
            pandas_mseed_lst.append(result)

100%|████████████████████████████████████| 14780/14780 [00:29<00:00, 494.48it/s]

In [66]:
dataframe_mseed_final = pd.concat(pandas_mseed_lst, ignore_index=True)

In [67]:
dataframe_mseed_final['starttime'] = pd.to_datetime(dataframe_mseed_final.starttime)
dataframe_mseed_final['endtime'] = pd.to_datetime(dataframe_mseed_final.endtime)
dataframe_mseed_final['date'] = pd.to_datetime(dataframe_mseed_final.starttime).dt.date
dataframe_mseed_final.sort_values('date')

,filename,starttime,endtime,date
0,GL.G1500..HHH.D.2015.316,2015-11-12 13:48:41,2015-11-12 23:59:59.990,2015-11-12
5,GL.G1500..HHH.D.2015.317,2015-11-13 00:00:00,2015-11-13 23:48:28.930,2015-11-13
1,GL.G1500..HHH.D.2015.318,2015-11-14 01:22:11,2015-11-14 22:36:02.930,2015-11-14
9,GL.G1500..HHH.D.2015.319,2015-11-15 00:00:18,2015-11-15 21:44:28.930,2015-11-15
25,GL.G1500..HHH.D.2015.320,2015-11-16 00:11:21,2015-11-16 21:54:52.930,2015-11-16
...,...,...,...,...
13586,LF.F409B..HHH.D.2022.211,2022-07-30 00:00:01,2022-07-30 23:51:25.000,2022-07-30
13797,LF.F409C..HHH.D.2022.211,2022-07-30 00:00:01,2022-07-30 23:51:25.000,2022-07-30
13795,LF.F409C..HHH.D.2022.212,2022-07-31 00:00:01,2022-07-31 23:51:25.000,2022-07-31
13595,LF.F409B..HHH.D.2022.212,2022-07-31 00:00:01,2022-07-31 23:51:25.000,2022-07-31
13591,LF.F409B..HHH.D.2022.213,2022-08-01 00:00:01,2022-08-01 23:51:25.000,2022-08-01

In [68]:
dataframe_mseed_final['network'] = dataframe_mseed_final.filename.str.split(pat='.').str[0]
dataframe_mseed_final['station'] = dataframe_mseed_final.filename.str.split(pat='.').str[1]
dataframe_mseed_final.sort_values('date')

,filename,starttime,endtime,date,network,station
0,GL.G1500..HHH.D.2015.316,2015-11-12 13:48:41,2015-11-12 23:59:59.990,2015-11-12,GL,G1500
5,GL.G1500..HHH.D.2015.317,2015-11-13 00:00:00,2015-11-13 23:48:28.930,2015-11-13,GL,G1500
1,GL.G1500..HHH.D.2015.318,2015-11-14 01:22:11,2015-11-14 22:36:02.930,2015-11-14,GL,G1500
9,GL.G1500..HHH.D.2015.319,2015-11-15 00:00:18,2015-11-15 21:44:28.930,2015-11-15,GL,G1500
25,GL.G1500..HHH.D.2015.320,2015-11-16 00:11:21,2015-11-16 21:54:52.930,2015-11-16,GL,G1500
...,...,...,...,...,...,...
13586,LF.F409B..HHH.D.2022.211,2022-07-30 00:00:01,2022-07-30 23:51:25.000,2022-07-30,LF,F409B
13797,LF.F409C..HHH.D.2022.211,2022-07-30 00:00:01,2022-07-30 23:51:25.000,2022-07-30,LF,F409C
13795,LF.F409C..HHH.D.2022.212,2022-07-31 00:00:01,2022-07-31 23:51:25.000,2022-07-31,LF,F409C
13595,LF.F409B..HHH.D.2022.212,2022-07-31 00:00:01,2022-07-31 23:51:25.000,2022-07-31,LF,F409B
13591,LF.F409B..HHH.D.2022.213,2022-08-01 00:00:01,2022-08-01 23:51:25.000,2022-08-01,LF,F409B

In [71]:
stations = list(set(dataframe_mseed_final.station))
network =  list(set(dataframe_mseed_final.network))

In [70]:
F409C

NameError: name 'F409C' is not defined

# Calculando o nível de ruído:

In [72]:
sta_dataframe = dataframe_mseed_final[dataframe_mseed_final['station'] == 'F409C']

In [73]:
sta_dataframe

,filename,starttime,endtime,date,network,station
10439,LF.F409C..HHH.D.2021.351,2021-12-17 16:50:01,2021-12-17 23:51:25,2021-12-17,LF,F409C
10444,LF.F409C..HHH.D.2021.352,2021-12-18 00:00:01,2021-12-18 23:51:25,2021-12-18,LF,F409C
10449,LF.F409C..HHH.D.2021.355,2021-12-21 00:00:01,2021-12-21 23:51:25,2021-12-21,LF,F409C
10451,LF.F409C..HHH.D.2021.353,2021-12-19 00:00:01,2021-12-19 23:51:25,2021-12-19,LF,F409C
10452,LF.F409C..HHH.D.2021.356,2021-12-22 00:00:01,2021-12-22 23:51:25,2021-12-22,LF,F409C
...,...,...,...,...,...,...
13795,LF.F409C..HHH.D.2022.212,2022-07-31 00:00:01,2022-07-31 23:51:25,2022-07-31,LF,F409C
13796,LF.F409C..HHH.D.2022.200,2022-07-19 00:00:01,2022-07-19 23:51:25,2022-07-19,LF,F409C
13797,LF.F409C..HHH.D.2022.211,2022-07-30 00:00:01,2022-07-30 23:51:25,2022-07-30,LF,F409C
13798,LF.F409C..HHH.D.2022.208,2022-07-27 00:00:01,2022-07-27 23:51:25,2022-07-27,LF,F409C
13799,LF.F409C..HHH.D.2022.210,2022-07-29 00:00:01,2022-07-29 23:51:25,2022-07-29,LF,F409C

In [74]:
filenames_MSEED_sta = []
for i in sta_dataframe.iterrows():
    filenames_MSEED_sta.append(glob.glob(MSEED_INPUT+'*/*/*/*/*'+i[1].filename+'*')[0])
filenames_MSEED_sta = sorted(filenames_MSEED_sta)

In [75]:
len(filenames_MSEED_sta)

227

In [78]:
for i in filenames_MSEED_sta[:200]:
    tr = obspy.read(i)[0]
    print((tr.stats.npts/100)/60)
    #print(np.fft.rfft(tr.data.tolist()))

1.4
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668
1.4001666666666668

In [ ]:
st

In [ ]:
(8400/100)/60

In [ ]:
statis = []
for k in st:
    statis.append((k.stats.npts/100)/60)

In [57]:
mean(statis)

[]