# Importando módulos

In [176]:
import obspy
from obspy.taup import TauPyModel

from multiprocessing import Pool
from obspy import read,UTCDateTime,Trace
from obspy.clients.fdsn import Client
import os
import glob
import numpy as np
from collections import defaultdict
import pandas as pd

#para plotar as figuras
import matplotlib.pyplot as plt
from matplotlib.transforms import offset_copy
import matplotlib.ticker as ticker
from mpl_toolkits.axes_grid1 import make_axes_locatable
from matplotlib.colors import ListedColormap
import matplotlib.dates as mdates
from mpl_toolkits.axes_grid1.inset_locator import InsetPosition,inset_axes
import matplotlib.colors as colors
import matplotlib.cm as cm
from matplotlib.dates import YearLocator, MonthLocator, DayLocator, HourLocator, MinuteLocator, SecondLocator, DateFormatter
from matplotlib.ticker import MultipleLocator, FormatStrFormatter

from datetime import datetime,timedelta,date
from tqdm import tqdm

from shapely.geometry.polygon import LinearRing

import cartopy.io.shapereader as shpreader
import cartopy.crs as ccrs
import cartopy.feature as cfeature

from IPython.display import HTML
from IPython import display

# Inputs e Outputs

In [177]:
FOLDER_OUTPUT = '/media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/gliders_project/OUTPUT/'

MSEED_INPUT = "/media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/gliders_project/OUTPUT/MSEED/"

METADATA_OUTPUT = "/media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/gliders_project/OUTPUT/METADATA/"

filename_csv = '/media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/gliders_project/gliders_data/info_csv/metadados_glider_acustico_pmpas-bs.csv'

campanha_csv = '/media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/gliders_project/gliders_data/info_csv/Dados_campanhas_Gliders.xls'

# Extraindo informações dos arquivos ".mseed"

In [10]:
filenames_MSEED = sorted(glob.glob(MSEED_INPUT+'*/*/*.mseed'))

In [11]:
def mseed_data_2_dataframe(i):
    subdir, filename_wav = os.path.split(i)
    filename = filename_wav.split('.mseed')[0]
    if 'pa' in filename.split('_')[0]:
        mergulho = filename.split('_')[0].split('a')[1]
        stream_number = filename.split('_')[1]

        year_month_day = filename.split('_')[2]
        hour_minute_second = filename.split('_')[3]

        year = int('20'+year_month_day[:2])
        month = int(year_month_day[2:4])
        day = int(year_month_day[4:])

        hour = int(hour_minute_second[:2])
        minute = int(hour_minute_second[2:4])
        second = int(hour_minute_second[4:])

        d = UTCDateTime(datetime(year,month,day,hour,minute,second).isoformat())


    if 'pa' in filename.split('_')[2]:

        mergulho = filename.split('_')[2].split('a')[1]
        stream_number = filename.split('_')[3]

        year_month_day = filename.split('_')[0]
        hour_minute_second = filename.split('_')[1]

        year = int('20'+year_month_day[:2])
        month = int(year_month_day[2:4])
        day = int(year_month_day[4:])

        hour = int(hour_minute_second[:2])
        minute = int(hour_minute_second[2:4])
        second = int(hour_minute_second[4:])

        d = UTCDateTime(datetime(year,month,day,hour,minute,second).isoformat())
        
    
    st = read(i,headonly=True)   
    #----------------------------
    #Starting Dataframe

    starttime = st[0].stats.starttime.datetime
    endtime = st[0].stats.endtime.datetime
    sampling_rate = st[0].stats.sampling_rate
    npts = st[0].stats.npts

    
    df = pd.DataFrame([[filename],[mergulho],[stream_number],[starttime],[endtime],[sampling_rate],[npts]], index=['filename_mseed', 'mergulho', 'stream_number','starttime','endtime','sampling_rate','npts']).T
    
    #Ending Dataframe
    #----------------------------
    return df

In [12]:
pandas_mseed_lst = []

with Pool(processes=4) as p:
    max_ = len(filenames_MSEED)
    with tqdm(total=max_) as pbar:
        for result in p.imap_unordered(mseed_data_2_dataframe,filenames_MSEED):
            pbar.update()
            pandas_mseed_lst.append(result)

100%|██████████████████████████████████| 124257/124257 [11:23<00:00, 181.70it/s]

In [178]:
dataframe_mseed_final = pd.concat(pandas_mseed_lst, ignore_index=True)

In [179]:
dataframe_mseed_final['starttime'] = pd.to_datetime(dataframe_mseed_final.starttime, format='%Y-%m-%d %H:%M:%S')
dataframe_mseed_final['endtime'] = pd.to_datetime(dataframe_mseed_final.endtime, format='%Y-%m-%d %H:%M:%S')

In [180]:
dataframe_mseed_final.sort_values(by='starttime')

,filename_mseed,mergulho,stream_number,starttime,endtime,sampling_rate,npts
0,pa0001au_001_151112_134841,0001,001,2015-11-12 13:48:41,2015-11-12 13:50:40.930,100.0,11994
3,pa0001au_002_151112_135041,0001,002,2015-11-12 13:50:41,2015-11-12 13:52:40.930,100.0,11994
2,pa0001au_003_151112_135241,0001,003,2015-11-12 13:52:41,2015-11-12 13:54:40.930,100.0,11994
1,pa0001au_004_151112_135441,0001,004,2015-11-12 13:54:41,2015-11-12 13:56:40.930,100.0,11994
4,pa0001au_005_151112_135641,0001,005,2015-11-12 13:56:41,2015-11-12 13:57:00.980,100.0,1999
...,...,...,...,...,...,...,...
124251,pa0296au_008_211104_061338,0296,008,2021-11-04 06:13:38,2021-11-04 06:23:37.990,100.0,60000
124252,pa0296au_009_211104_062338,0296,009,2021-11-04 06:23:38,2021-11-04 06:33:37.990,100.0,60000
124253,pa0296au_010_211104_063338,0296,010,2021-11-04 06:33:38,2021-11-04 06:43:37.990,100.0,60000
124255,pa0296au_011_211104_064338,0296,011,2021-11-04 06:43:38,2021-11-04 06:53:37.990,100.0,60000
124254,pa0296au_012_211104_065338,0296,012,2021-11-04 06:53:38,2021-11-04 06:57:21.780,100.0,22379

In [181]:
dataframe_mseed_final['date'] = dataframe_mseed_final['starttime'].dt.date

In [182]:
dataframe_mseed_final

,filename_mseed,mergulho,stream_number,starttime,endtime,sampling_rate,npts,date
0,pa0001au_001_151112_134841,0001,001,2015-11-12 13:48:41,2015-11-12 13:50:40.930,100.0,11994,2015-11-12
1,pa0001au_004_151112_135441,0001,004,2015-11-12 13:54:41,2015-11-12 13:56:40.930,100.0,11994,2015-11-12
2,pa0001au_003_151112_135241,0001,003,2015-11-12 13:52:41,2015-11-12 13:54:40.930,100.0,11994,2015-11-12
3,pa0001au_002_151112_135041,0001,002,2015-11-12 13:50:41,2015-11-12 13:52:40.930,100.0,11994,2015-11-12
4,pa0001au_005_151112_135641,0001,005,2015-11-12 13:56:41,2015-11-12 13:57:00.980,100.0,1999,2015-11-12
...,...,...,...,...,...,...,...,...
124252,pa0296au_009_211104_062338,0296,009,2021-11-04 06:23:38,2021-11-04 06:33:37.990,100.0,60000,2021-11-04
124253,pa0296au_010_211104_063338,0296,010,2021-11-04 06:33:38,2021-11-04 06:43:37.990,100.0,60000,2021-11-04
124254,pa0296au_012_211104_065338,0296,012,2021-11-04 06:53:38,2021-11-04 06:57:21.780,100.0,22379,2021-11-04
124255,pa0296au_011_211104_064338,0296,011,2021-11-04 06:43:38,2021-11-04 06:53:37.990,100.0,60000,2021-11-04
124256,pa0296au_005_211104_054338,0296,005,2021-11-04 05:43:38,2021-11-04 05:53:37.990,100.0,60000,2021-11-04

# Extraindo informações do arquivo ".csv" com as campanhas

In [117]:
ciclos_dataframe_csv = pd.read_excel(campanha_csv)
ciclos_dataframe_csv

,Sistema,Ciclo,starttime,endtime,Fs,nBits,Hidrofone,PreAmp,N/S
0,GLIDER,1,2015-11-10,2015-12-20,125000,16,911006,1501,SG618
1,GLIDER,2,2016-01-08,2016-02-02,125000,16,911006,1501,SG618
2,GLIDER,3,2016-02-02,2016-04-20,125000,24,911008,1503,SG612
3,GLIDER,4,2016-04-20,2016-07-07,125000,24,911006,1501,SG612
4,GLIDER,5,2016-07-07,2016-08-16,125000,24,911008,1503,SG612
...,...,...,...,...,...,...,...,...,...
89,GLIDER,MC_C026,2023-06-22,2023-07-30,128000,24,G003654,AMAR-G4,SL976
90,GLIDER,ME_C012,2023-06-20,2023-08-01,128000,24,C000811,AMAR-G4,SL977
91,GLIDER,MC_C027,2023-12-30,2023-12-30,128000,24,G003654,AMAR-G4,SL975
92,GLIDER,MC_C028,2023-08-03,2023-09-09,128000,24,F001108,AMAR-G4,SL977
93,GLIDER,MC_C029,2023-09-24,2023-10-05,128000,24,I000091,AMAR-G4,SL1099

In [118]:
ciclos_dataframe_csv['starttime'] = pd.to_datetime(ciclos_dataframe_csv.starttime, format='%Y-%m-%d %H:%M:%S').dt.date
ciclos_dataframe_csv['endtime'] = pd.to_datetime(ciclos_dataframe_csv.endtime, format='%Y-%m-%d %H:%M:%S').dt.date

In [ ]:
ciclos_dataframe_csv['Ciclo_new'] = range(len(ciclos_dataframe_csv))

In [144]:
ciclos_dataframe_csv

,Sistema,Ciclo,starttime,endtime,Fs,nBits,Hidrofone,PreAmp,N/S,Ciclo_new
0,GLIDER,1,2015-11-10,2015-12-20,125000,16,911006,1501,SG618,0
1,GLIDER,2,2016-01-08,2016-02-02,125000,16,911006,1501,SG618,1
2,GLIDER,3,2016-02-02,2016-04-20,125000,24,911008,1503,SG612,2
3,GLIDER,4,2016-04-20,2016-07-07,125000,24,911006,1501,SG612,3
4,GLIDER,5,2016-07-07,2016-08-16,125000,24,911008,1503,SG612,4
...,...,...,...,...,...,...,...,...,...,...
89,GLIDER,MC_C026,2023-06-22,2023-07-30,128000,24,G003654,AMAR-G4,SL976,89
90,GLIDER,ME_C012,2023-06-20,2023-08-01,128000,24,C000811,AMAR-G4,SL977,90
91,GLIDER,MC_C027,2023-12-30,2023-12-30,128000,24,G003654,AMAR-G4,SL975,91
92,GLIDER,MC_C028,2023-08-03,2023-09-09,128000,24,F001108,AMAR-G4,SL977,92
93,GLIDER,MC_C029,2023-09-24,2023-10-05,128000,24,I000091,AMAR-G4,SL1099,93

# Extraindo informações do arquivo ".csv" com as localizações (lat,lon,dep)

In [183]:
dataframe_csv = pd.read_csv(filename_csv,parse_dates=['time'])
dataframe_csv.sort_values(by='time')

,time,filename,latitude,longitude,depth
0,2015-11-12 13:48:40.999995,pa0001au_001_151112_134841_rms_spl3.mat,-23.825157,-42.495483,1.314286
1,2015-11-12 13:49:41.000001,pa0001au_001_151112_134841_rms_spl3.mat,-23.824950,-42.495487,7.415555
2,2015-11-12 13:50:40.999998,pa0001au_002_151112_135041_rms_spl3.mat,-23.824745,-42.495490,15.776000
3,2015-11-12 13:51:41.000004,pa0001au_002_151112_135041_rms_spl3.mat,-23.824540,-42.495495,24.372000
4,2015-11-12 13:52:41.000001,pa0001au_003_151112_135241_rms_spl3.mat,-23.824331,-42.495500,32.912000
...,...,...,...,...,...
547748,2021-11-04 06:52:38.000000,pa0296au_011_211104_064338_rms_spl3.mat,-24.461742,-42.471264,866.012900
547749,2021-11-04 06:53:37.999997,pa0296au_012_211104_065338_rms_spl3.mat,-24.461819,-42.471302,873.586100
547750,2021-11-04 06:54:38.000003,pa0296au_012_211104_065338_rms_spl3.mat,-24.461980,-42.471510,879.579600
547751,2021-11-04 06:55:38.000000,pa0296au_012_211104_065338_rms_spl3.mat,-24.462152,-42.471740,884.380700
547752,2021-11-04 06:56:37.999996,pa0296au_012_211104_065338_rms_spl3.mat,-24.462324,-42.471966,888.467200

In [184]:
df_csv = dataframe_csv.groupby("filename").agg(pd.Series.tolist)

In [185]:
df_csv['filename_mseed'] = df_csv.index.str.replace('_rms_spl3.mat', '')

In [186]:
df_csv.sort_values(by='time')

,time,latitude,longitude,depth,filename_mseed
filename,,,,,
pa0001au_001_151112_134841_rms_spl3.mat,"[2015-11-12 13:48:40.999995, 2015-11-12 13:49:...","[-23.825157, -23.82495]","[-42.495483, -42.495487]","[1.3142858, 7.4155555]",pa0001au_001_151112_134841
pa0001au_002_151112_135041_rms_spl3.mat,"[2015-11-12 13:50:40.999998, 2015-11-12 13:51:...","[-23.824745, -23.82454]","[-42.49549, -42.495495]","[15.776, 24.372]",pa0001au_002_151112_135041
pa0001au_003_151112_135241_rms_spl3.mat,"[2015-11-12 13:52:41.000001, 2015-11-12 13:53:...","[-23.824331, -23.824125]","[-42.4955, -42.495502]","[32.912, 41.34]",pa0001au_003_151112_135241
pa0001au_004_151112_135441_rms_spl3.mat,"[2015-11-12 13:54:41.000004, 2015-11-12 13:55:41]","[-23.82392, -23.823713]","[-42.495506, -42.495506]","[48.91, 52.824]",pa0001au_004_151112_135441
pa0002au_001_151112_143618_rms_spl3.mat,"[2015-11-12 14:36:17.999998, 2015-11-12 14:37:...","[-23.817575, -23.81744]","[-42.49506, -42.494965]","[1.4671428, 9.36]",pa0002au_001_151112_143618
...,...,...,...,...,...
pa0296au_008_211104_061338_rms_spl3.mat,"[2021-11-04 06:13:37.999999, 2021-11-04 06:14:...","[-24.457632, -24.457657, -24.457726, -24.45786...","[-42.470257, -42.470303, -42.470325, -42.47033...","[550.4096, 559.3073, 567.8462, 575.10706, 582....",pa0296au_008_211104_061338
pa0296au_009_211104_062338_rms_spl3.mat,"[2021-11-04 06:23:38.000003, 2021-11-04 06:24:...","[-24.458628, -24.458672, -24.45872, -24.458822...","[-42.47047, -42.470528, -42.470562, -42.470573...","[629.96436, 637.68353, 646.56323, 654.6224, 66...",pa0296au_009_211104_062338
pa0296au_010_211104_063338_rms_spl3.mat,"[2021-11-04 06:33:37.999998, 2021-11-04 06:34:...","[-24.459415, -24.459513, -24.45957, -24.45963,...","[-42.4708, -42.470802, -42.470856, -42.4709, -...","[706.7263, 715.5506, 722.5956, 730.11316, 737....",pa0296au_010_211104_063338
pa0296au_011_211104_064338_rms_spl3.mat,"[2021-11-04 06:43:38.000002, 2021-11-04 06:44:...","[-24.46027, -24.460333, -24.460466, -24.460562...","[-42.471066, -42.471092, -42.471092, -42.47112...","[786.4262, 795.43823, 804.53156, 811.73206, 82...",pa0296au_011_211104_064338
pa0296au_012_211104_065338_rms_spl3.mat,"[2021-11-04 06:53:37.999997, 2021-11-04 06:54:...","[-24.461819, -24.46198, -24.462152, -24.462324]","[-42.471302, -42.47151, -42.47174, -42.471966]","[873.5861, 879.5796, 884.3807, 888.4672]",pa0296au_012_211104_065338

In [188]:
def name_to_mergulho_stream(filename):
    if 'pa' in filename.split('_')[0]:
        mergulho = filename.split('_')[0].split('a')[1]

    if 'pa' in filename.split('_')[2]:
        mergulho = filename.split('_')[2].split('a')[1]
    
    return mergulho

In [189]:
def calcular_media(lista):
    if len(lista) == 0:
        return None  # Retorna None se a lista estiver vazia para evitar erros
    else:
        return pd.Series(lista).mean()

In [190]:
def flatten(l):
    return l[0]

In [191]:
df_csv['mergulho'] = df_csv['filename_mseed'].apply(name_to_mergulho_stream)

In [192]:
df_csv['date'] = df_csv['time'].apply(calcular_media).dt.date

In [193]:
df_csv

,time,latitude,longitude,depth,filename_mseed,mergulho,date
filename,,,,,,,
160708_172008_pa0003au_001_rms_spl3.mat,"[2016-07-08 17:20:07.999999, 2016-07-08 17:21:...","[-24.391026, -24.391314, -24.391335]","[-43.821663, -43.82173, -43.82174]","[0.9987981, 9.891874, 10.969999]",160708_172008_pa0003au_001,0003,2016-07-08
160708_172307_pa0003au_002_rms_spl3.mat,"[2016-07-08 17:23:07.000004, 2016-07-08 17:24:...","[-24.391356, -24.3916, -24.391617]","[-43.821743, -43.8218, -43.821804]","[12.030156, 23.590548, 24.420235]",160708_172307_pa0003au_002,0003,2016-07-08
160708_172607_pa0003au_003_rms_spl3.mat,"[2016-07-08 17:26:07.000003, 2016-07-08 17:27:...","[-24.391909, -24.39193, -24.392172]","[-43.821873, -43.82188, -43.821938]","[36.456642, 37.333202, 47.245785]",160708_172607_pa0003au_003,0003,2016-07-08
160708_172906_pa0003au_004_rms_spl3.mat,"[2016-07-08 17:29:05.999998, 2016-07-08 17:30:...","[-24.392193, -24.392475, -24.392496]","[-43.82194, -43.822006, -43.82201]","[48.01094, 58.52969, 59.289062]",160708_172906_pa0003au_004,0003,2016-07-08
160708_173205_pa0003au_005_rms_spl3.mat,"[2016-07-08 17:32:05.000003, 2016-07-08 17:33:...","[-24.392744, -24.392765, -24.393057]","[-43.822067, -43.822075, -43.822144]","[68.57156, 69.49031, 80.89149]",160708_173205_pa0003au_005,0003,2016-07-08
...,...,...,...,...,...,...,...
pa0626au_041_160418_075202_rms_spl3.mat,"[2016-04-18 07:52:02.000001, 2016-04-18 07:53:...","[-24.46632, -24.466305]","[-43.148865, -43.14886]","[897.4117, 899.9383]",pa0626au_041_160418_075202,0626,2016-04-18
pa0626au_042_160418_075402_rms_spl3.mat,"[2016-04-18 07:54:02.000004, 2016-04-18 07:55:02]","[-24.466183, -24.466167]","[-43.14885, -43.148846]","[918.85736, 921.4589]",pa0626au_042_160418_075402,0626,2016-04-18
pa0626au_043_160418_075602_rms_spl3.mat,"[2016-04-18 07:56:01.999997, 2016-04-18 07:57:...","[-24.466047, -24.466032]","[-43.148834, -43.14883]","[940.0661, 942.0864]",pa0626au_043_160418_075602,0626,2016-04-18
pa0626au_044_160418_075802_rms_spl3.mat,"[2016-04-18 07:58:02, 2016-04-18 07:59:01.999996]","[-24.465881, -24.465864]","[-43.148815, -43.14881]","[958.9343, 959.4406]",pa0626au_044_160418_075802,0626,2016-04-18
pa0626au_045_160418_080002_rms_spl3.mat,"[2016-04-18 08:00:02.000003, 2016-04-18 08:01:...","[-24.465744, -24.465727]","[-43.1488, -43.1488]","[963.1847, 963.6253]",pa0626au_045_160418_080002,0626,2016-04-18

In [194]:
df_csv['lat'] =  df_csv['latitude'].apply(calcular_media)
df_csv['lon'] =  df_csv['longitude'].apply(calcular_media)
df_csv['dep'] =  df_csv['depth'].apply(calcular_media)
df_csv['time'] =  df_csv['time'].apply(flatten)

In [195]:
df_csv_mean = df_csv.drop(columns=['latitude','longitude','depth',])

In [197]:
df_csv_mean.sort_values(by='date')

,time,filename_mseed,mergulho,date,lat,lon,dep
filename,,,,,,,
pa0005au_015_151112_211136_rms_spl3.mat,2015-11-12 21:11:35.999997,pa0005au_015_151112_211136,0005,2015-11-12,-23.785293,-42.469156,258.771985
pa0004au_011_151112_180207_rms_spl3.mat,2015-11-12 18:02:06.999995,pa0004au_011_151112_180207,0004,2015-11-12,-23.791018,-42.473718,182.740000
pa0004au_012_151112_180407_rms_spl3.mat,2015-11-12 18:04:06.999998,pa0004au_012_151112_180407,0004,2015-11-12,-23.791007,-42.473650,199.017500
pa0006au_001_151112_235913_rms_spl3.mat,2015-11-12 23:59:13.000003,pa0006au_001_151112_235913,0006,2015-11-12,-23.780344,-42.469132,8.517000
pa0004au_013_151112_180607_rms_spl3.mat,2015-11-12 18:06:07.000001,pa0004au_013_151112_180607,0004,2015-11-12,-23.790993,-42.473582,215.688000
...,...,...,...,...,...,...,...
pa0295au_010_211104_015556_rms_spl3.mat,2021-11-04 01:55:55.999999,pa0295au_010_211104_015556,0295,2021-11-04,-24.440742,-42.465287,736.252016
pa0296au_009_211104_062338_rms_spl3.mat,2021-11-04 06:23:38.000003,pa0296au_009_211104_062338,0296,2021-11-04,-24.458968,-42.470625,664.644524
pa0295au_009_211104_014556_rms_spl3.mat,2021-11-04 01:45:56.000005,pa0295au_009_211104_014556,0295,2021-11-04,-24.439859,-42.465195,652.485512
pa0295au_001_211104_002556_rms_spl3.mat,2021-11-04 00:25:55.999999,pa0295au_001_211104_002556,0295,2021-11-04,-24.433078,-42.464303,37.546308
pa0295au_012_211104_021556_rms_spl3.mat,2021-11-04 02:15:55.999998,pa0295au_012_211104_021556,0295,2021-11-04,-24.443011,-42.465975,869.489497

In [235]:
df_csv_meanS = df_csv_mean.sort_values(by='time')

In [213]:
len(sorted(df_csv_mean['filename_mseed'].to_list())) - len(sorted(dataframe_mseed_final['filename_mseed'].to_list()))

-936

In [215]:
no_lst = []
for i in tqdm(dataframe_mseed_final['filename_mseed'].to_list()):
    if i not in df_csv_mean['filename_mseed'].to_list():
        no_lst.append(i)

100%|██████████████████████████████████| 124257/124257 [04:51<00:00, 426.15it/s]

# Buscando o nome dos gliders no dataframe das campanhas:

In [161]:
ciclos_dataframe_csv

,Sistema,Ciclo,starttime,endtime,Fs,nBits,Hidrofone,PreAmp,N/S,Ciclo_new
0,GLIDER,1,2015-11-10,2015-12-20,125000,16,911006,1501,SG618,0
1,GLIDER,2,2016-01-08,2016-02-02,125000,16,911006,1501,SG618,1
2,GLIDER,3,2016-02-02,2016-04-20,125000,24,911008,1503,SG612,2
3,GLIDER,4,2016-04-20,2016-07-07,125000,24,911006,1501,SG612,3
4,GLIDER,5,2016-07-07,2016-08-16,125000,24,911008,1503,SG612,4
...,...,...,...,...,...,...,...,...,...,...
89,GLIDER,MC_C026,2023-06-22,2023-07-30,128000,24,G003654,AMAR-G4,SL976,89
90,GLIDER,ME_C012,2023-06-20,2023-08-01,128000,24,C000811,AMAR-G4,SL977,90
91,GLIDER,MC_C027,2023-12-30,2023-12-30,128000,24,G003654,AMAR-G4,SL975,91
92,GLIDER,MC_C028,2023-08-03,2023-09-09,128000,24,F001108,AMAR-G4,SL977,92
93,GLIDER,MC_C029,2023-09-24,2023-10-05,128000,24,I000091,AMAR-G4,SL1099,93

In [145]:
def nearest(items, pivot):
    return min(items, key=lambda x: abs(x - pivot))

In [229]:
def convert_36(line):
    '''
    Creating the station name according to the hexatrigesimal two-digit algoritm conversion
    '''
    cycle_lst = [i for i in range(500)]
    
    # hexatrigesimal two digit number for each cycle:
    hexatri_lst = [str(np.base_repr(y, 36)).zfill(2) for y in cycle_lst]
    
    #find the nearest date and append the 2-hexatrigesimal-digit:
    return 'G'+line['starttime'].strftime('%y')+hexatri_lst[cycle_lst.index(nearest(cycle_lst,line['Ciclo_new']))]

In [257]:
ciclos_dataframe_csvS = ciclos_dataframe_csv.sort_values(by='starttime')

In [258]:
ciclos_dataframe_csvS

,Sistema,Ciclo,starttime,endtime,Fs,nBits,Hidrofone,PreAmp,N/S,Ciclo_new
0,GLIDER,1,2015-11-10,2015-12-20,125000,16,911006,1501,SG618,0
1,GLIDER,2,2016-01-08,2016-02-02,125000,16,911006,1501,SG618,1
2,GLIDER,3,2016-02-02,2016-04-20,125000,24,911008,1503,SG612,2
3,GLIDER,4,2016-04-20,2016-07-07,125000,24,911006,1501,SG612,3
4,GLIDER,5,2016-07-07,2016-08-16,125000,24,911008,1503,SG612,4
...,...,...,...,...,...,...,...,...,...,...
88,GLIDER,MC_C025,2023-06-21,2023-07-29,128000,24,F001108,AMAR-G4,SL975,88
89,GLIDER,MC_C026,2023-06-22,2023-07-30,128000,24,G003654,AMAR-G4,SL976,89
92,GLIDER,MC_C028,2023-08-03,2023-09-09,128000,24,F001108,AMAR-G4,SL977,92
93,GLIDER,MC_C029,2023-09-24,2023-10-05,128000,24,I000091,AMAR-G4,SL1099,93
91,GLIDER,MC_C027,2023-12-30,2023-12-30,128000,24,G003654,AMAR-G4,SL975,91

In [259]:
ciclos_dataframe_csvS['station_nettab'] = ciclos_dataframe_csvS.apply(convert_36,axis=1)

In [260]:
ciclos_dataframe_csvS

,Sistema,Ciclo,starttime,endtime,Fs,nBits,Hidrofone,PreAmp,N/S,Ciclo_new,station_nettab
0,GLIDER,1,2015-11-10,2015-12-20,125000,16,911006,1501,SG618,0,G1500
1,GLIDER,2,2016-01-08,2016-02-02,125000,16,911006,1501,SG618,1,G1601
2,GLIDER,3,2016-02-02,2016-04-20,125000,24,911008,1503,SG612,2,G1602
3,GLIDER,4,2016-04-20,2016-07-07,125000,24,911006,1501,SG612,3,G1603
4,GLIDER,5,2016-07-07,2016-08-16,125000,24,911008,1503,SG612,4,G1604
...,...,...,...,...,...,...,...,...,...,...,...
88,GLIDER,MC_C025,2023-06-21,2023-07-29,128000,24,F001108,AMAR-G4,SL975,88,G232G
89,GLIDER,MC_C026,2023-06-22,2023-07-30,128000,24,G003654,AMAR-G4,SL976,89,G232H
92,GLIDER,MC_C028,2023-08-03,2023-09-09,128000,24,F001108,AMAR-G4,SL977,92,G232K
93,GLIDER,MC_C029,2023-09-24,2023-10-05,128000,24,I000091,AMAR-G4,SL1099,93,G232L
91,GLIDER,MC_C027,2023-12-30,2023-12-30,128000,24,G003654,AMAR-G4,SL975,91,G232J

In [263]:
df_csv_meanS

,time,filename_mseed,mergulho,date,lat,lon,dep
filename,,,,,,,
pa0001au_001_151112_134841_rms_spl3.mat,2015-11-12 13:48:40.999995,pa0001au_001_151112_134841,0001,2015-11-12,-23.825054,-42.495485,4.364921
pa0001au_002_151112_135041_rms_spl3.mat,2015-11-12 13:50:40.999998,pa0001au_002_151112_135041,0001,2015-11-12,-23.824642,-42.495492,20.074000
pa0001au_003_151112_135241_rms_spl3.mat,2015-11-12 13:52:41.000001,pa0001au_003_151112_135241,0001,2015-11-12,-23.824228,-42.495501,37.126000
pa0001au_004_151112_135441_rms_spl3.mat,2015-11-12 13:54:41.000004,pa0001au_004_151112_135441,0001,2015-11-12,-23.823816,-42.495506,50.867000
pa0002au_001_151112_143618_rms_spl3.mat,2015-11-12 14:36:17.999998,pa0002au_001_151112_143618,0002,2015-11-12,-23.817508,-42.495013,5.413571
...,...,...,...,...,...,...,...
pa0296au_008_211104_061338_rms_spl3.mat,2021-11-04 06:13:37.999999,pa0296au_008_211104_061338,0296,2021-11-04,-24.458063,-42.470370,586.134284
pa0296au_009_211104_062338_rms_spl3.mat,2021-11-04 06:23:38.000003,pa0296au_009_211104_062338,0296,2021-11-04,-24.458968,-42.470625,664.644524
pa0296au_010_211104_063338_rms_spl3.mat,2021-11-04 06:33:37.999998,pa0296au_010_211104_063338,0296,2021-11-04,-24.459786,-42.470928,741.901279
pa0296au_011_211104_064338_rms_spl3.mat,2021-11-04 06:43:38.000002,pa0296au_011_211104_064338,0296,2021-11-04,-24.460836,-42.471147,826.451882
pa0296au_012_211104_065338_rms_spl3.mat,2021-11-04 06:53:37.999997,pa0296au_012_211104_065338,0296,2021-11-04,-24.462069,-42.471629,881.503400

In [268]:
def nettab_name_csv(line):
    '''
    Getting the station name code from other dataframe
    '''
    
    filtro = (line.date >= ciclos_dataframe_csvS["starttime"]) & (line.date <= ciclos_dataframe_csvS["endtime"])
    
    df2 = ciclos_dataframe_csvS[filtro]

    if len(df2) > 0:
    #find the nearest date and append the 2-hexatrigesimal-digit:
        return df2['station_nettab'].values[0]

In [269]:
df_csv_meanS['station_nettab'] = df_csv_meanS.apply(nettab_name_csv,axis=1)

In [270]:
df_csv_meanS

,time,filename_mseed,mergulho,date,lat,lon,dep,station_nettab
filename,,,,,,,,
pa0001au_001_151112_134841_rms_spl3.mat,2015-11-12 13:48:40.999995,pa0001au_001_151112_134841,0001,2015-11-12,-23.825054,-42.495485,4.364921,G1500
pa0001au_002_151112_135041_rms_spl3.mat,2015-11-12 13:50:40.999998,pa0001au_002_151112_135041,0001,2015-11-12,-23.824642,-42.495492,20.074000,G1500
pa0001au_003_151112_135241_rms_spl3.mat,2015-11-12 13:52:41.000001,pa0001au_003_151112_135241,0001,2015-11-12,-23.824228,-42.495501,37.126000,G1500
pa0001au_004_151112_135441_rms_spl3.mat,2015-11-12 13:54:41.000004,pa0001au_004_151112_135441,0001,2015-11-12,-23.823816,-42.495506,50.867000,G1500
pa0002au_001_151112_143618_rms_spl3.mat,2015-11-12 14:36:17.999998,pa0002au_001_151112_143618,0002,2015-11-12,-23.817508,-42.495013,5.413571,G1500
...,...,...,...,...,...,...,...,...
pa0296au_008_211104_061338_rms_spl3.mat,2021-11-04 06:13:37.999999,pa0296au_008_211104_061338,0296,2021-11-04,-24.458063,-42.470370,586.134284,G211E
pa0296au_009_211104_062338_rms_spl3.mat,2021-11-04 06:23:38.000003,pa0296au_009_211104_062338,0296,2021-11-04,-24.458968,-42.470625,664.644524,G211E
pa0296au_010_211104_063338_rms_spl3.mat,2021-11-04 06:33:37.999998,pa0296au_010_211104_063338,0296,2021-11-04,-24.459786,-42.470928,741.901279,G211E
pa0296au_011_211104_064338_rms_spl3.mat,2021-11-04 06:43:38.000002,pa0296au_011_211104_064338,0296,2021-11-04,-24.460836,-42.471147,826.451882,G211E
pa0296au_012_211104_065338_rms_spl3.mat,2021-11-04 06:53:37.999997,pa0296au_012_211104_065338,0296,2021-11-04,-24.462069,-42.471629,881.503400,G211E

In [271]:
df_csv_meanS['date_start_nettab'] = df_csv_meanS.time.dt.strftime('%Y/%j:%H%M')

In [272]:
df_csv_meanS

,time,filename_mseed,mergulho,date,lat,lon,dep,station_nettab,date_start_nettab
filename,,,,,,,,,
pa0001au_001_151112_134841_rms_spl3.mat,2015-11-12 13:48:40.999995,pa0001au_001_151112_134841,0001,2015-11-12,-23.825054,-42.495485,4.364921,G1500,2015/316:1348
pa0001au_002_151112_135041_rms_spl3.mat,2015-11-12 13:50:40.999998,pa0001au_002_151112_135041,0001,2015-11-12,-23.824642,-42.495492,20.074000,G1500,2015/316:1350
pa0001au_003_151112_135241_rms_spl3.mat,2015-11-12 13:52:41.000001,pa0001au_003_151112_135241,0001,2015-11-12,-23.824228,-42.495501,37.126000,G1500,2015/316:1352
pa0001au_004_151112_135441_rms_spl3.mat,2015-11-12 13:54:41.000004,pa0001au_004_151112_135441,0001,2015-11-12,-23.823816,-42.495506,50.867000,G1500,2015/316:1354
pa0002au_001_151112_143618_rms_spl3.mat,2015-11-12 14:36:17.999998,pa0002au_001_151112_143618,0002,2015-11-12,-23.817508,-42.495013,5.413571,G1500,2015/316:1436
...,...,...,...,...,...,...,...,...,...
pa0296au_008_211104_061338_rms_spl3.mat,2021-11-04 06:13:37.999999,pa0296au_008_211104_061338,0296,2021-11-04,-24.458063,-42.470370,586.134284,G211E,2021/308:0613
pa0296au_009_211104_062338_rms_spl3.mat,2021-11-04 06:23:38.000003,pa0296au_009_211104_062338,0296,2021-11-04,-24.458968,-42.470625,664.644524,G211E,2021/308:0623
pa0296au_010_211104_063338_rms_spl3.mat,2021-11-04 06:33:37.999998,pa0296au_010_211104_063338,0296,2021-11-04,-24.459786,-42.470928,741.901279,G211E,2021/308:0633
pa0296au_011_211104_064338_rms_spl3.mat,2021-11-04 06:43:38.000002,pa0296au_011_211104_064338,0296,2021-11-04,-24.460836,-42.471147,826.451882,G211E,2021/308:0643
pa0296au_012_211104_065338_rms_spl3.mat,2021-11-04 06:53:37.999997,pa0296au_012_211104_065338,0296,2021-11-04,-24.462069,-42.471629,881.503400,G211E,2021/308:0653

In [273]:
df_campanha = df_csv_meanS.groupby(["station_nettab"]).agg(pd.Series.tolist)

In [274]:
df_campanha

,time,filename_mseed,mergulho,date,lat,lon,dep,date_start_nettab
station_nettab,,,,,,,,
G1500,"[2015-11-12 13:48:40.999995, 2015-11-12 13:50:...","[pa0001au_001_151112_134841, pa0001au_002_1511...","[0001, 0001, 0001, 0001, 0002, 0002, 0002, 000...","[2015-11-12, 2015-11-12, 2015-11-12, 2015-11-1...","[-23.825053500000003, -23.8246425, -23.8242279...","[-42.495485, -42.4954925, -42.495501000000004,...","[4.36492065, 20.073999999999998, 37.1260000000...","[2015/316:1348, 2015/316:1350, 2015/316:1352, ..."
G1601,"[2016-01-08 10:14:23.000003, 2016-01-08 10:16:...","[pa0001au_001_160108_101423, pa0001au_002_1601...","[0001, 0001, 0001, 0001, 0002, 0002, 0002, 000...","[2016-01-08, 2016-01-08, 2016-01-08, 2016-01-0...","[-23.8396465, -23.8402455, -23.840843999999997...","[-42.50416, -42.504215, -42.5042725, -42.50433...","[4.4947145, 20.937999499999997, 37.24699850000...","[2016/008:1014, 2016/008:1016, 2016/008:1018, ..."
G1602,"[2016-02-03 00:00:57.000003, 2016-02-03 00:02:...","[pa0007au_001_160203_000057, pa0007au_002_1602...","[0007, 0007, 0007, 0007, 0007, 0007, 0007, 000...","[2016-02-03, 2016-02-03, 2016-02-03, 2016-02-0...","[-24.3285225, -24.3279755, -24.3273995, -24.32...","[-42.323730499999996, -42.323891, -42.324061, ...","[2.3261719000000003, 22.924609, 42.826563, 60....","[2016/034:0000, 2016/034:0002, 2016/034:0004, ..."
G1604,"[2016-07-08 17:20:07.999999, 2016-07-08 17:23:...","[160708_172008_pa0003au_001, 160708_172307_pa0...","[0003, 0003, 0003, 0003, 0003, 0003, 0003, 000...","[2016-07-08, 2016-07-08, 2016-07-08, 2016-07-0...","[-24.391225000000002, -24.391524333333333, -24...","[-43.821711, -43.82178233333334, -43.821897, -...","[7.286890366666666, 20.01364633333333, 40.3452...","[2016/190:1720, 2016/190:1723, 2016/190:1726, ..."
G1605,"[2016-08-17 07:45:40.999996, 2016-08-17 07:48:...","[160817_074541_pa0005au_001, 160817_074841_pa0...","[0005, 0005, 0005, 0005, 0005, 0005, 0005, 000...","[2016-08-17, 2016-08-17, 2016-08-17, 2016-08-1...","[-24.812242333333334, -24.812640666666667, -24...","[-43.140601333333336, -43.14077266666666, -43....","[7.344921800000001, 29.604296333333334, 55.430...","[2016/230:0745, 2016/230:0748, 2016/230:0751, ..."
G1606,"[2016-09-16 23:59:00.000004, 2016-09-17 00:01:...","[160916_235900_pa0003au_061, 160917_000159_pa0...","[0003, 0003, 0003, 0005, 0005, 0005, 0005, 000...","[2016-09-17, 2016-09-17, 2016-09-17, 2016-09-1...","[-24.36140633333333, -24.361825999999997, -24....","[-43.14263166666667, -43.14266466666666, -43.1...","[929.5903166666667, 945.9947333333333, 953.780...","[2016/260:2359, 2016/261:0001, 2016/261:0004, ..."
G1607,"[2016-10-21 09:07:15.000004, 2016-10-21 09:10:...","[161021_090715_pa0001au_001, 161021_091015_pa0...","[0001, 0001, 0001, 0001, 0008, 0008, 0008, 000...","[2016-10-21, 2016-10-21, 2016-10-21, 2016-10-2...","[-24.669154000000002, -24.66936733333333, -24....","[-42.88656366666667, -42.88725066666667, -42.8...","[2.3863281333333335, 13.645859333333334, 38.87...","[2016/295:0907, 2016/295:0910, 2016/295:0913, ..."
G1608,"[2016-11-21 04:11:53.999996, 2016-11-21 04:14:...","[161121_041154_pa0004au_001, 161121_041454_pa0...","[0004, 0004, 0004, 0004, 0004, 0004, 0004, 000...","[2016-11-21, 2016-11-21, 2016-11-21, 2016-11-2...","[-25.762361999999996, -25.762407333333332, -25...","[-44.433258, -44.433386000000006, -44.43356500...","[10.6926036, 27.254529333333334, 49.6655986666...","[2016/326:0411, 2016/326:0414, 2016/326:0417, ..."
G1709,"[2017-01-12 14:54:11.000002, 2017-01-12 14:57:...","[170112_145411_pa0225au_001, 170112_145710_pa0...","[0225, 0225, 0225, 0225, 0225, 0225, 0225, 022...","[2017-01-12, 2017-01-12, 2017-01-12, 2017-01-1...","[-26.011415, -26.011335666666668, -26.011274, ...","[-44.25060133333333, -44.25058066666667, -44.2...","[12.373515133333333, 32.486198333333334, 45.72...","[2017/012:1454, 2017/012:1457, 2017/012:1500, ..."
G170A,"[2017-02-17 11:01:29.000003, 2017-02-17 11:04:...","[170217_110129_pa0002au_001, 170217_110428_pa0...","[0002, 0002, 0002, 0002, 0002, 0002, 0009, 000...","[2017-02-17, 2017-02-17, 2017-02-17, 2017-02-1...","[-24.117037, -24.117666333333332, -24.118298, ...","[-41.495601, -41.496261, -41.49692099999999, -...","[3.026666666666667, 21.345999666666668, 43.469...","[2017/048:1101, 2017/048:1104, 2017/048:1107, ..."
G170B,"[2017-03-25 20:27:12.999997, 2017-03-25 20:30:...","[170325_202713_pa0013au_001, 170325_203013_pa0...","[0013, 0013, 0013, 0013, 0013, 0013, 0013, 001...","[2017-03-25, 2017-03-25, 2017-03-25, 2017-03-2...","[-24.537395333333336, -24.537491, -24.537588, ...","[-43.21279933333333, -43.21290333333334, -43.2...","[8.702111333333333, 36.224888666666665, 61.117...","[2017/084:2027, 2017/084:2030, 2017/084:2033, ..."
G170C,"[2017-05-01 05:29:40.000005, 2017-05-01 05:32:...","[170501_052940_pa0008au_001, 170501_053239_pa0...","[0008, 0008, 0008, 0008, 0008, 0008, 0008, 000...","[2017-05-01, 2017-05-01, 2017-05-01, 2017-05-0...","[-25.582504, -25.58251466666667, -25.582523666...","[-44.30967866666666, -44.30988233333333, -44.3...","[8.628666666666666, 40.490222333333335, 73.360...","[2017/121:0529, 2017/121:0532, 2017/121:0535, ..."
G170E,"[2017-06-03 14:59:34, 2017-06-03 15:02:32.9999...","[170603_145934_pa0001au_001, 170603_150233_pa0...","[0001, 0001, 0001, 0006, 0006, 0006, 0006, 000...","[2017-06-03, 2017-06-03, 2017-06-03, 2017-06-0...","[-25.509466, -25.50979166666667, -25.510064, -...","[-44.270616, -44.27057466666667, -44.270542500...","[3.5138889333333334, 26.916666666666668, 52.64...","[2017/154:1459, 2017/154:1502, 2017/154:1505, ..."
G170F,"[2017-07-13 00:08:24.000002, 2017-07-13 00:11:...","[170713_000824_pa0007au_001, 170713_001124_pa0...","[0007, 0007, 0007, 0007, 0007, 0007, 0007, 000...","[2017-07-13, 2017-07-13, 2017-07-13, 2017-07-1...","[-25.632940666666666, -25.63274266666667, -25....","[-44.056805, -44.056687000000004, -44.05657, -...","[5.303666666666667, 25.235, 48.437500666666665...","[2017/194:0008, 2017/194:0011, 2017/194:0014, ..."
G170G,"[2017-08-17 10:42:53.999996, 2017-08-17 10:45:...","[170817_104254_pa0001au_001, 170817_104553_pa0...","[0001, 0001, 0001, 0002, 0002, 0002, 0002, 000...","[2017-08-17, 2017-08-17, 2017-08-17, 2017-08-1...","[-25.313611999999996, -25.313511000000002, -25...","[-43.051781, -43.052000666666665, -43.05221833...","[3.0625, 21.780333333333335, 45.66366766666667...","[2017/229:1042, 2017/229:1045, 2017/229:1048, ..."
G170H,"[2017-10-05 00:00:11.000001, 2017-10-05 00:03:...","[171005_000011_pa0005au_037, 171005_000310_pa0...","[0005, 0005, 0005, 0005, 0005, 0005, 0005, 000...","[2017-10-05, 2017-10-05, 2017-10-05, 2017-10-0...","[-25.28998066666667, -25.28988533333333, -25.2...","[-42.717981, -42.7183, -42.71862000000001, -42...","[721.35887, 740.30024, 759.2224433333334, 776....","[2017/278:0000, 2017/278:0003, 2017/278:0006, ..."
G170I,"[2017-10-29 12:39:44.999999, 2017-10-29 12:42:...","[171029_123945_pa0001au_001, 171029_124245_pa0...","[0001, 0001, 0001, 0001, 0002, 0002, 0002, 000...","[2017-10-29, 2017-10-29, 2017-10-29, 2017-10-2...","[-25.286379666666665, -25.286373, -25.28636766...","[-42.07184, -42.071767333333334, -42.071694333...","[1.8224445000000002, 5.238666599999999, 12.410...","[2017/302:1239, 2017/302:1242, 2017/302:1245, ..."
G170J,"[2017-12-10 13:05:36.000005, 2017-12-10 13:08:...","[171210_130536_pa0001au_001, 171210_130835_pa0...","[0001, 0001, 0001, 0001, 0002, 0002, 0002, 000...","[2017-12-10, 2017-12-10, 2017-12-10, 2017-12-1...","[-24.986736666666662, -24.985691666666668, -24...","[-42.46170766666667, -42.461773, -42.461841333...","[3.0563333233333334, 15.740666666666668, 33.22...","[2017/344:1305, 2017/344:1308, 2017/344:1311, ..."
G180K,"[2018-01-21 13:14:25.999997, 2018-01-21 13:17:...","[180121_131426_pa0001au_001, 180121_131725_pa0...","[0001, 0001, 0001, 0002, 0002, 0002, 0002, 000...","[2018-01-21, 2018-01-21, 2018-01-21, 2018-01-2...","[-24.900179999999995, -24.900172, -24.90016333...","[-42.151598666666665, -42.15146333333334, -42....","[4.246666666666667, 25.386332999999997, 48.531...","[2018/021:1314, 2018/021:1317, 2018/021:1320, ..."
G180L,"[2018-02-23 12:24:43.999997, 2018-02-23 12:27:...","[180223_122444_pa0009au_001, 180223_122744_pa0...","[0009, 0009, 0009, 0009, 0009, 0009, 0009, 000...","[2018-02-23, 2018-02-23, 2018-02-23, 2018-02-2...","[-25.007563, -25.007386333333333, -25.00721166...","[-42.17828733333334, -42.178295, -42.178303333...","[5.002833266666667, 27.823834, 49.931667333333...","[2018/054:1224, 2018/054:1227, 2018/054:1230, ..."
G180M,"[2018-04-10 09:55:04.999997, 2018-04-10 09:58:...","[180410_095505_pa0001au_001, 180410_095804_pa0...","[0001, 0001, 0001, 0002, 0002, 0002, 0002, 000...","[2018-04-10, 2018-04-10, 2018-04-10, 2018-04-1...","[-24.08331, -24.083469666666662, -24.083629666...","[-42.469691000000005, -42.470150999999994, -42...","[4.439499966666666, 28.43466666666667, 49.0653...","[2018/100:0955, 2018/100:0958, 2018/100:1001, ..."
G180N,"[2018-05-22 13:21:24.999997, 2018-05-22 13:24:...","[180522_132125_pa0001au_001, 180522_132424_pa0...","[0001, 0001, 0001, 0001, 0002, 0002, 0002, 000...","[2018-05-22, 2018-05-22, 2018-05-22, 2018-05-2...","[-24.709503333333334, -24.709253333333333, -24...","[-41.618195, -41.618576, -41.618954, -41.61921...","[3.096535, 18.365500333333333, 39.337334, 52.4...","[2018/142:1321, 2018/142:1324, 2018/142:1327, ..."
G180O,"[2018-07-06 23:59:34, 2018-07-07 00:02:34, 201...","[180706_235934_pa0005au_017, 180707_000234_pa0...","[0005, 0005, 0005, 0005, 0005, 0005, 0005, 000...","[2018-07-07, 2018-07-07, 2018-07-07, 2018-07-0...","[-25.139888666666668, -25.140123333333335, -25...","[-41.740885666666664, -41.74113333333333, -41....","[325.9996733333333, 343.94200666666666, 361.84...","[2018/187:2359, 2018/188:0002, 2018/188:0005, ..."
G180P,"[2018-07-23 19:09:49, 2018-07-23 19:27:18.0000...","[pa0002au_001_180723_190949, pa0002au_001_1807...","[0002, 0002, 0002, 0002, 0011, 0012, 0013, 001...","[2018-07-23, 2018-07-23, 2018-07-23, 2018-07-2...","[-23.726177, -23.726177, -23.726177, -23.72617...","[-42.567505, -42.567505, -42.567505, -42.56750...","[0.630093, 0.630093, 0.630093, 0.630093, 0.630...","[2018/204:1909, 2018/204:1927, 2018/204:1948, ..."
G180Q,"[2018-08-29 05:54:11.000002, 2018-08-29 06:04:...","[pa0008au_001_180829_055411, pa0008au_002_1808...","[0008, 0008, 0008, 0011, 0011, 0013, 0014, 002...","[2018-08-29, 2018-08-29, 2018-08-29, 2018-08-2...","[-24.072876100000002, -24.0735535, -24.0742416...","[-42.402248400000005, -42.4017329, -42.4012939...","[41.74889146, 122.480263, 190.815892, 41.77288...","[2018/241:0554, 2018/241:0604, 2018/241:0614, ..."
G180R,"[2018-10-04 05:12:59.999997, 2018-10-04 05:23:...","[pa0005au_001_181004_051300, pa0005au_002_1810...","[0005, 0005, 0005, 0005, 0005, 0005, 0005, 000...","[2018-10-04, 2018-10-04, 2018-10-04, 2018-10-0...","[-24.8921932, -24.8933866, -24.894749700000002...","[-42.3443211, -42.344117999999995, -42.3441322...","[22.807180914, 85.02732490000001, 142.717857, ...","[2018/277:0512, 2018/277:0523, 2018/277:0533, ..."
G180S,"[2018-11-15 01:03:14.999995, 2018-11-15 01:09:...","[pa0003au_001_181115_010315, pa0003au_001_1811...","[0003, 0003, 0003, 0003, 0003, 0003, 0003, 000...","[2018-11-15, 2018-11-15, 2018-11-15, 2018-11-1...","[-24.433395, -24.433395, -24.433394999999997, ...","[-42.913900000000005, -42.91389999999999, -42....","[0.27002704, 0.27002704, 0.27002704, 0.2700270...","[2018/319:0103, 2018/319:0109, 2018/319:0113, ..."
G180T,"[2018-12-28 17:41:16.000001, 2018-12-28 17:51:...","[pa0001au_001_181228_174116, pa0001au_002_1812...","[0001, 0001, 0021, 0022, 0022, 0022, 0022, 002...","[2018-12-28, 2018-12-28, 2018-12-28, 2018-12-2...","[-24.360197, -24.360197, -24.360882571428572, ...","[-42.25858699999999, -42.258587, -42.258574428...","[1.0101041, 1.0101040999999997, 26.55071762857...","[2018/362:1741, 2018/362:1751, 2018/362:1909, ..."
G190U,"[2019-02-10 14:09:33.999998, 2019-02-10 14:19:...","[pa0001au_001_190210_140934, pa0001au_002_1902...","[0001, 0001, 0001, 0001, 0001, 0001, 0001, 000...","[2019-02-10, 2019-02-10, 2019-02-10, 2019-02-1...","[-24.4469384, -24.446525999999995, -24.446191,...","[-42.374767899999995, -42.3772785, -42.3798254...","[21.46444142, 75.09771309999999, 120.795903, 1...","[2019/041:1409, 2019/041:1419, 2019/041:1429, ..."
G190V,"[2019-03-23 05:24:21.000005, 2019-03-23 05:34:...","[pa0028au_001_190323_052421, pa0028au_002_1903...","[0028, 0028, 0028, 0028, 0028, 0028, 0028, 002...","[2019-03-23, 2019-03-23, 2019-03-23, 2019-03-2...","[-25.561758899999997, -25.5640409, -25.5663788...","[-44.8766042, -44.8774217, -44.87850949999999,...","[30.636324607, 83.8324256, 127.64166999999998,...","[2019/082:0524, 2019/082:0534, 2019/082:0544, ..."
G190W,"[2019-05-02 11:25:04.000003, 2019-05-02 11:35:...","[pa0009au_001_190502_112504, pa0009au_002_1905...","[0009, 0009, 0009, 0009, 0009, 0009, 0009, 000...","[2019-05-02, 2019-05-02, 2019-05-02, 2019-05-0...","[-26.229803300000004, -26.231194799999997, -26...","[-45.058806700000005, -45.059891400000005, -45...","[24.65841559, 64.8489476, 155.76526714285714, ...","[2019/122:1125, 2019/122:1135, 2019/122:1157, ..."
G190X,"[2019-06-29 15:16:39.999997, 2019-06-29 15:26:...","[pa0002au_001_190629_151640, pa0002au_002_1906...","[0002, 0002, 0002, 0002, 0002bu, 0002bu, 0002b...","[2019-06-29, 2019-06-29, 2019-06-29, 2019-06-2...","[-23.766668199999998, -23.7674674, -23.7685952...","[-41.127569, -41.1307786, -41.134680700000004,...","[34.445961489999995, 133.77808100000001, 218.5...","[2019/180:1516, 2019/180:1526, 2019/180:1536, ..."
G190Y,"[2019-08-02 02:48:33.000005, 2019-08-02 02:58:...","[pa0006au_001_190802_024833, pa0006au_002_1908...","[0006, 0006, 0006, 0006, 0006, 0006, 0006, 000...","[2019-08-02, 2019-08-02, 2019-08-02, 2019-08-0...","[-24.4314249, -24.430996099999998, -24.4311155...","[-42.1370424, -42.1374192, -42.137364299999994...","[29.851881816000002, 86.3660147, 139.044364, 1...","[2019/214:0248, 2019/214:0258, 2019/214:0308, ..."
G190Z,"[2019-09-04 02:34:20.999999, 2019-09-04 02:44:...","[pa0008au_001_190904_023421, pa0008au_002_1909...","[0008, 0008, 0008, 0008, 0008, 0008, 0008, 000...","[2019-09-04, 2019-09-04, 2019-09-04, 2019-09-0...","[-24.0804798, -24.0815428, -24.082865, -24.084...","[-41.5693866, -41.5668742, -41.5642307, -41.56...","[48.35409358, 166.500042, 275.05136, 380.50337...","[2019/247:0234, 2019/247:0244, 2019/247:0254, ..."
G1910,"[2019-10-15 14:48:45, 2019-10-15 14:58:45.0000...","[pa0005au_001_191015_144845, pa0005au_002_1910...","[0005, 0005, 0005, 0005, 0005, 0005, 0005, 000...","[2019-10-15, 2019-10-15, 2019-10-15, 2019-10-1...","[-25.8665506, -25.8680521, -25.869185500000004...","[-45.1047083, -45.103126100000004, -45.1015123...","[43.74972478, 163.525058, 281.563633, 395.9962...","[2019/288:1448, 2019/288:1458, 2019/288:1508, ..."
G1911,"[2019-12-02 04:26:52.999998, 2019-12-02 04:36:...","[pa0010au_001_191202_042653, pa0010au_002_1912...","[0010, 0010, 0010, 0010, 0010, 0011, 0011, 001...","[2019-12-02, 2019-12-02, 2019-12-02, 2019-12-0...","[-25.790578200000006, -25.791265300000003, -25...","[-45.1975217, -45.1981243, -45.198813400000006...","[38.17251556, 128.9116845, 218.13213100000002,...","[2019/336:0426, 2019/336:0436, 2019/336:0446, ..."
G2012,"[2020-01-02 19:56:53.000002, 2020-01-02 20:06:...","[pa0006au_001_200102_195653, pa0006au_002_2001...","[0006, 0006, 0006, 0006, 0006, 0006, 0006, 000...","[2020-01-02, 2020-01-02, 2020-01-02, 2020-01-0...","[-25.013409799999998, -25.0148049, -25.0160506...","[-42.347745499999995, -42.3503038, -42.3529501...","[25.13771634, 69.45598799999999, 108.258256399...","[2020/002:1956, 2020/002:2006, 2020/002:2016, ..."
G2013,"[2020-02-18 04:49:30.000001, 2020-02-18 04:59:...","[pa0008au_001_200218_044930, pa0008au_002_2002...","[0008, 0008, 0008, 0008, 0008, 0008, 0008, 000...","[2020-02-18, 2020-02-18, 2020-02-18, 2020-02-1...","[-25.4421566, -25.442103, -25.4420551, -25.441...","[-43.4159264, -43.413183200000006, -43.4104480...","[30.7438083, 90.08920450000001, 140.429344, 18...","[2020/049:0449, 2020/049:0459, 2020/049:0509, ..."
G2014,"[2020-03-25 02:07:22, 2020-03-25 02:17:22.0000...","[pa0007au_001_200325_020722, pa0007au_002_2003...","[0007, 0007, 0007, 0007, 0007, 0007, 0007, 000...","[2020-03-25, 2020-03-25, 2020-03-25, 2020-03-2...","[-24.6265268, -24.6261767, -24.625939199999998...","[-42.9402846, -42.9377616, -42.935341, -42.933...","[27.46759644, 83.7546345, 132.2724371, 174.408...","[2020/085:0207, 2020/085:0217, 2020/085:0227, ..."
G2015,"[2020-07-06 12:10:23, 2020-07-06 12:53:35.9999...","[pa0001au_001_200706_121023, pa0002au_001_2007...","[0001, 0002, 0002, 0006, 0006, 0006, 0006, 000...","[2020-07-06, 2020-07-06, 2020-07-06, 2020-07-0...","[-25.5065132, -25.5145945, -25.517067, -25.612...","[-44.7494901, -44.75342189999999, -44.754244, ...","[12.43959449, 17.294301409999996, 59.6705885, ...","[2020/188:1210, 2020/188:1253, 2020/188:1303, ..."
G2016,"[2020-08-03 13:03:47.000003, 2020-08-03 13:13:...","[pa0009au_001_200803_130347, pa0009au_002_2008...","[0009, 0009, 0009, 0009, 0009, 0009, 0009, 000...","[2020-08-03, 2020-08-03, 2020-08-03, 2020-08-0...","[-26.5416028, -26.5393912, -26.537105500000003...","[-44.9379596, -44.9387617, -44.93958260000001,...","[22.437187960000003, 76.554946, 128.548081, 17...","[2020/216:1303, 2020/216:1313, 2020/216:1323, ..."
G2017,"[2020-09-04 12:29:06.000005, 2020-09-04 13:07:...","[pa0001au_001_200904_122906, pa0002au_001_2009...","[0001, 0002, 0002, 0005, 0005, 0005, 0005, 000...","[2020-09-04, 2020-09-04, 2020-09-04, 2020-09-0...","[-25.53191288888889, -25.546741599999997, -25....","[-44.754048555555556, -44.758019499999996, -44...","[14.50580203111111, 19.46126272, 58.9621426666...","[2020/248:1229, 2020/248:1307, 2020/248:1317, ..."
G2018,"[2020-10-22 20:42:41.000003, 2020-10-22 21:29:...","[pa0001au_001_201022_204241, pa0002au_001_2010...","[0001, 0002, 0002, 0003, 0003, 0003, 0003, 000...","[2020-10-22, 2020-10-22, 2020-10-22, 2020-10-2...","[-25.7403278, -25.754449900000004, -25.7574197...","[-44.9498631, -44.9572296, -44.95934675, -44.9...","[11.52070955, 18.91389895, 61.51198350000001, ...","[2020/296:2042, 2020/296:2129, 2020/296:2139, ..."
G2019,"[2020-12-16 00:30:02.000003, 2020-12-16 00:49:...","[pa0001au_001_201216_003002, pa0002au_001_2012...","[0001, 0002, 0003, 0001, 0002, 0002, 0003, 000...","[2020-12-16, 2020-12-16, 2020-12-16, 2020-12-1...","[-25.100672, -24.881565000000002, -24.93672339...","[-43.175644, -43.088909, -43.1301422, -43.1760...","[1.0500537, -5025.97386, -2330.9012199999997, ...","[2020/351:0030, 2020/351:0049, 2020/351:0109, ..."
G211A,"[2021-02-09 12:50:35.999998, 2021-02-09 13:00:...","[pa0012au_001_210209_125036, pa0012au_002_2102...","[0012, 0012, 0012, 0012, 0012, 0012, 0012, 001...","[2021-02-09, 2021-02-09, 2021-02-09, 2021-02-0...","[-25.199858199999998, -25.2006707, -25.2014136...","[-43.358901, -43.360715000000006, -43.3624954,...","[34.945265469999995, 97.45638650000001, 148.97...","[2021/040:1250, 2021/040:1300, 2021/040:1310, ..."
G211B,"[2021-04-14 16:52:15.999995, 2021-04-14 16:57:...","[pa0013au_001_210414_165216, pa0013bu_001_2104...","[0013, 0013bu, 0014, 0014bu, 0015, 0015bu, 001...","[2021-04-14, 2021-04-14, 2021-04-14, 2021-04-1...","[-25.2616444, -25.261816250000003, -25.262247,...","[-42.3503686, -42.35048275, -42.3507732, -41.9...","[-17334.929600000003, -17321.548000000003, -17...","[2021/104:1652, 2021/104:1657, 2021/104:1709, ..."
G211C,"[2021-05-28 10:23:45.000002, 2021-05-28 10:33:...","[pa0008au_001_210528_102345, pa0008au_002_2105...","[0008, 0008, 0008, 0008, 0008, 0008, 0008, 000...","[2021-05-28, 2021-05-28, 2021-05-28, 2021-05-2...","[-25.4084531, -25.4090955, -25.4098522, -25.41...","[-42.366710399999995, -42.368382100000005, -42...","[34.514652775, 115.81715860000001, 183.266481,...","[2021/148:1023, 2021/148:1033, 2021/148:1043, ..."

In [ ]:
df_mergulho_feather

In [ ]:
GL_info = pd.DataFrame.from_dict(glider_information_dic)
GL_info['start'] = pd.to_datetime(GL_info.start, format='%d/%m/%Y')
GL_info['end'] = pd.to_datetime(GL_info.end, format='%d/%m/%Y')

GL_info['start'] = GL_info['start'].dt.date 
GL_info['end'] = GL_info['end'].dt.date

In [ ]:
GL_info

In [ ]:
GL_info.plot('name','start','scatter',c='k',ylabel='Data',xlabel='Modelo')

In [ ]:
for i in df_mergulho_feather.iterrows():
    # Station lines (one line per station/sensor/epoch) # code description datalogger%sn seismometer%sn # sampling orientation lat. lon. elev. depth. start end
    #Sl: UNAP "Uni-Iquique/Chile"   DM24%A1383 CMG-3ESP/60%T34622 100 ZNE -20.24393 -70.14041 0.0    0.0 2009/134 
    
    # Select DataFrame rows between two dates
    
    filtro = (i[1].date >= GL_info["start"]) & (i[1].date < GL_info["end"])

    # Using pandas.DataFrame.loc to Filter Rows by Dates
    
    df2 = GL_info[filtro]
   
    print(df2)

In [ ]:
for i in df_mergulho_feather.iterrows():
    # Station lines (one line per station/sensor/epoch) # code description datalogger%sn seismometer%sn # sampling orientation lat. lon. elev. depth. start end
    #Sl: UNAP "Uni-Iquique/Chile"   DM24%A1383 CMG-3ESP/60%T34622 100 ZNE -20.24393 -70.14041 0.0    0.0 2009/134 
    
    # Select DataFrame rows between two dates
    
    filtro = (i[1].date > GL_info["start"]) & (i[1].date < GL_info["end"])

    # Using pandas.DataFrame.loc to Filter Rows by Dates
    
    df2 = GL_info[filtro]
   
    print('Sl: '+i[1].station_nettab+' Glider:'+df2['name'].values[0]+' SENSOR'+' '+'REGISTER'+' 100 Z '+str(i[1].lat)+' '+str(i[1].lon)+' 0 0 '+i[1].date_nettab)

In [ ]:
df_mergulho_feather.to_feather('/home/dIOGOLOC/Documents/df_mergulho.feather')

# Plotando o dataframe com os mergulhos:

In [ ]:

#########################################################################################################################################################
#Figure 

# set up the plot and create a GeoAxes:
proj = ccrs.PlateCarree()

fig, ax = plt.subplots(1,1,figsize=(16,16))
ax = plt.subplot(1, 1, 1, projection=proj)
                    
# ----------------------------------------------------------------------------------------------------------
# Limit the extent of the map to a small longitude/latitude range.
latmin=-30
latmax=-20
lonmin=-50
lonmax=-40

ax.set_extent([lonmin,lonmax, latmin, latmax], crs=ccrs.Geodetic())

# ----------------------------------------------------------------------------------------------------------
# Ploting lat/lon values
                
h = ax.scatter(df_mergulho['lon'].values,df_mergulho['lat'].values,c=np.array([mdates.date2num(i) for i in df_mergulho['time'].values]),marker='o',alpha=0.8,cmap='plasma',s=75,transform=proj)

# ----------------------------------------------------------------------------------------------------------
# Adding background map 
ax.add_feature(cfeature.LAND)
ax.add_feature(cfeature.OCEAN)
ax.add_feature(cfeature.COASTLINE,linewidth=0.3)
ax.add_feature(cfeature.BORDERS, linestyle=':',linewidth=0.3)
ax.gridlines(crs=ccrs.PlateCarree(), draw_labels=True,linewidth=1, color='gray', alpha=0.5, linestyle='--')
    
# ----------------------------------------------------------------------------------------------------------
# Adding colorbar
divider = make_axes_locatable(ax)
ax_cb = divider.new_horizontal(size="1%", pad=0.6, axes_class=plt.Axes)

fig.add_axes(ax_cb)
cb = plt.colorbar(h, cax=ax_cb)
cb.ax.yaxis.set_major_formatter(mdates.DateFormatter('%d-%m-%y'))
   
# ----------------------------------------------------------------------------------------------------------
# Adding global location map
# inset location relative to main plot (ax) in normalized units
inset_x = 0
inset_y = 1
inset_size = 0.25

# Adding Geoaxes
ax2 = plt.axes([0, 0, 1, 1], projection=ccrs.Orthographic(central_latitude=(latmin + latmax)/2,central_longitude=(lonmin + lonmax) / 2))
ax2.set_global()

# Adding background map 
ax2.add_feature(cfeature.LAND)
ax2.add_feature(cfeature.OCEAN)
ax2.add_feature(cfeature.COASTLINE)

# Adding inset geoaxes position
ip = InsetPosition(ax, [inset_x - inset_size / 2,
                          inset_y - inset_size / 2,
                          inset_size,inset_size])
    
ax2.set_axes_locator(ip)


# Adding red rectangle position
nvert = 100
lons = np.r_[np.linspace(lonmin, lonmin, nvert),
                                 np.linspace(lonmin, lonmax, nvert),
                                 np.linspace(lonmax, lonmax, nvert)].tolist()
    
lats = np.r_[np.linspace(latmin, latmax, nvert),
                                 np.linspace(latmax, latmax, nvert),
                                 np.linspace(latmax, latmin, nvert)].tolist()

ring = LinearRing(list(zip(lons, lats)))
ax2.add_geometries([ring], ccrs.PlateCarree(),facecolor='none', edgecolor='red', linewidth=0.75)

        
# ----------------------------------------------------------------------------------------------------------
# Saving figure
#os.makedirs(FOLDER_OUTPUT+'FIGURAS/INTERP_MSEED/'+st[0].stats.starttime.strftime('%Y')+'/'+st[0].stats.starttime.strftime('%Y-%m-%d')+'/',exist_ok=True)
#fig.savefig(FOLDER_OUTPUT+'FIGURAS/INTERP_MSEED/'+st[0].stats.starttime.strftime('%Y')+'/'+st[0].stats.starttime.strftime('%Y-%m-%d')+'/'+'interp_mseed_'+file_n_meta+'.png')
#plt.close()

In [ ]:
# set up plotting
fig = plt.figure()
ax = plt.axes()

h = ax.scatter(df_mergulho['lon'].values,df_mergulho['lat'].values,c=np.array([mdates.date2num(i) for i in df_mergulho['time'].values]),marker='o',alpha=0.8,cmap='plasma',s=75,transform=proj)


ax.plot(ttime,tdata,c='k',lw=0.1,alpha=0.3)
line, = ax.plot([],[],c='r', lw=0.5,alpha=0.7)
ax.set_xlim(ttime[0],ttime[-1])
ax.set_ylim(tdata.min(), tdata.max())

ax.set_yticks([])

# methods for animation
def init():
    line.set_data([],[])
    return line,

def animate(i):
    y = wave_to_plot[i]
    x = time_to_plot[i]
    line.set_data(x,y)

    return line,

# Save the animation
anim = animation.FuncAnimation(fig, animate, init_func=init,frames=len(wave_to_plot))
HTML(anim.to_jshtml())

# Save the animation as an 
f = r"/home/diogoloc/dados_posdoc/ON02_analysis/Figuras/Localizacao_navio_ponte_ON_ON02.mp4" 
writervideo = animation.FFMpegWriter(fps=10) 
anim.save(f, writer=writervideo)